[2014-08-06 05:31] nolanlawson opened #1 "ECONNRESET, ETIMEDOUT"
seeing this occasionally:

[code]

[2014-08-08 12:01] #1 closed, assigned to nobody

[2014-08-08 12:01] nolanlawson opened #2 "Retry failed updates"
Currently for updates it just goes straight to remote and if it fails, it fails, Should log the modules that need updating somewhere and ensure they get updated eventually.

[2014-08-08 12:02] nolanlawson opened #3 "Add a sweet UI"
Since the whole skimdb is replicated, you could have most of the functionality of the npm website itself served locally.

[2014-08-08 13:11] nolanlawson opened #4 "Option to preload modules"
`--preload` a list of modules or `--preload-top 100` or something like that.

[2014-08-08 14:27] jprichardson opened #5 "Restore Original npm Registry in README?"
This is awesome! Will you add a small note to the README on how to restore the original npm registry? I'm sure it's trivial, but that was the first thing that came to mind after reading the README.

[2014-08-08 16:07] #5 closed, assigned to nobody

[2014-08-10 21:59] nolanlawson opened #17 "Error: Parse Error (HPE_INVALID_CONSTANT)"
Steps to reproduce:

1) Check out pouchdb
2) `npm cache clean`
3) npm install

Saw this:

[code]

[2014-08-11 13:46] #17 closed, assigned to nobody

[2014-08-11 13:47] #3 closed, assigned to nobody

[2014-08-11 13:55] calvinmetcalf opened #20 "ability to publish easily while still using local-npm"
npm/npm#5916

[2014-08-11 19:55] calvinmetcalf opened #26 "express-pouchdb goes way too often"

[2014-08-15 18:12] nolanlawson opened #29 "Too many open files"
This may be fixed in the latest version of express-pouchdb, but I was on express-pouchdb@0.5.5 and constantly getting "too many open files" on my MacBook Pro running Mavericks.

I'm not sure how to prove that it was local-npm causing it, but it seemed to come up only when I was running it and go away when I shut it down.

I'm reinstalling local-npm. I'll close this if it goes away after an upgrade

[2014-08-18 18:26] #29 closed, assigned to nobody

[2014-09-08 14:54] calvinmetcalf opened #30 "search and other such"
that should be pretty easy to impliment

[2014-10-02 12:00] #20 closed, assigned to nobody

[2015-03-27 22:05] craigmingtaozhang opened #36 "http(s) proxy"
It's more a question:

Is it transparent using ~/.npmrc for proxy settings when doing the replication?

[2015-04-06 16:24] nolanlawson commented on #36
No, `.npmrc` shouldn't have anything to do with this.

[2015-07-30 12:49] nolanlawson opened #37 "version shorthand"
On the real npm registry, you can do any one of:

* https://registry.npmjs.com/jsbin/3
* https://registry.npmjs.com/jsbin/3.11
* https://registry.npmjs.com/jsbin/3.11.23

But local-npm only works if you spell out the full version number (the last one).

[2015-07-31 17:46] remy opened #39 "Replication completely resets on timeout"
[code]

It seems to have reset after around 7%...

[2015-07-31 17:47] remy commented on #39
Doesn't seem to be linked to the event listeners, but the 503 causes the replication to reset. I'm not sure if that's normal or not...

More logs:

[code]

[2015-07-31 19:46] nolanlawson commented on #39
I think the reason the replication is resetting is because the target database is read-only. We have a longstanding issue where we need to write `_local` checkpoints to the remote database in order to keep track of our progress in replicating from that database.

As for the EventEmitter warning, that's definitely a bug that I thought we had fixed awhile ago. Filed: https://github.com/pouchdb/pouch

[2015-07-31 21:58] daleharvey commented on #39
If the database is read only then we should fallback to just relying on the local checkpoint (https://github.com/pouchdb/pouchdb/blob/master/lib/replicate/checkpointer.js#L101) as long as the error we get back is as expected, is that changing somehow?

[2015-08-01 09:02] drpicox opened #40 "Configuration issues?"
[code]
go offline and reinstalling lodash
[code]

I guess that it is not intended to work offline neither with intermitent network connection, right?

[2015-08-01 17:45] nolanlawson commented on #40
Yup, it's designed to replicate from a live npmjs.com somewhere. You can make it work offline by running it on a machine that's connected to the internet, replicating, then copying all those files to a new machine and re-running it there. Unfortunately that will mean that it will never be updated, though.

[2015-08-01 18:02] nolanlawson commented on #40
As for intermittent network connections, I'm working on a fix for that. It should work.

[2015-08-04 14:48] remy commented on #39
There's definitely something super wrong.

I left local-npm running and it go to 100%, then when restarting and catching up with changes it randomly drops back down to zero:

[code]

[2015-08-07 15:00] nolanlawson commented on #39
Based on the output it seems like you are not using the latest version. Could you update to 1.4.2 and try again?

[2015-08-07 15:02] nolanlawson commented on #39
Oh shoot my bad, excuse me. I opened a PR and then never merged it. I'll publish 1.4.3 right now.

[2015-08-07 15:04] nolanlawson commented on #40
Should be fixed by https://github.com/nolanlawson/local-npm/pull/41, please reopen if it's not.

[2015-08-07 15:04] #40 closed

[2015-08-07 15:04] nolanlawson commented on #39
Should be fixed by https://github.com/nolanlawson/local-npm/pull/41, please reopen if it's not.

[2015-08-07 15:04] #39 closed

[2015-08-07 17:30] remy commented on #39
Sorted.

I've seen all of the view docs in pouch, is it possible to query this local-npm using those desig docs? i.e. find all the modules that depend on semver for instance?

[2015-08-08 13:45] nolanlawson opened #42 "yargs dependency is broken"
Never depend on a branch in Github, somebody might remove it... >_<

[2015-08-08 18:34] nolanlawson commented on #39
Yeah, that's actually a really neat idea. In the Fauxton UI (http://localhost:16984/_utils) I can see a ton of secondary indexes that are already in that `_design/app` ddoc, but since it's a replicated CouchDB, you can also add whatever design docs you want, and then query them.

As a test, I did this:

[code]

The secondary index is slow to build, but it works! Prints out:

[code]

For querying m

[2015-08-10 00:30] nolanlawson commented on #42
fixed

[2015-08-10 00:30] #42 closed

[2015-08-10 00:31] nolanlawson commented on #37
fixed

[2015-08-10 00:31] #37 closed

[2015-08-10 00:32] nolanlawson opened #45 "Starts re-replicating from scratch sometimes"
@remy For the record, I am still seeing this sometimes. Happened a moment ago when my laptop went into hibernate mode and then restarted; might be related. Still, since the checkpoint is stored on disk, there's no reason it should start re-replicating from scratch.

[code]

[2015-08-16 20:20] nolanlawson opened #46 "Support _design/app redirects"
Currently URLs like `GET /-/by-field/?key=%22leveldown%22&field=repository` do not work, because NPM has a bunch of redirects defined in `_design/app` that handle this, but we don't.

To test it out, you can run something like `changed-log` and then run e.g. `changed-log leveldown 0.10.0 1.0.0`.

[2015-08-26 09:42] pacav69 opened #47 "Tip: For those in China"
# For those that are in China to use the Chinese registry

first install npmrc
    npm install npmrc -g
    npmrc
     npmrc -r cn

The first line installs the app
then initialize it to setup default
npmrc -r [registry]   to use an npm mirror  - in this case the china mirror
## Alternative

use
http://npm.taobao.org to get npm packages
to setup
     npmrc -c taobao

To use:
npmrc default
and to sw

[2015-08-26 13:05] nolanlawson commented on #47
Good to know! Do you think this would make sense as part of the README?

[2015-08-26 17:40] pacav69 commented on #47
I gave it to you to add to your readme if you wanted to.

I think it makes sense to add it as you have mentioned the austrlian one.

On Wed, Aug 26, 2015 at 9:05 PM, Nolan Lawson <notifications@github.com>
wrote:

--
Paul Cavanagh
Business and IT Consultant
+86-13774291848
------------------------------------------------
http://silverpcgroup.com/
Webhosting and Web Development

Dropbox for Android

[2015-08-28 06:27] pacav69 opened #48 "leveldown dependancy error"
i get an error when i try to install on a windows 7 computer

C:\temp\node_modules\local-npm\node_modules\pouchdb\node_modules\leveldown>if not defined npm_config_node_gyp (n
ode "C:\Program Files (x86)\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.j
s" rebuild )  else (node  rebuild )
C:\Program Files (x86)\nodejs\node_modules\npm\node_modules\node-gyp\gyp\pyl

[2015-08-28 10:04] pacav69 commented on #47
i updated the original post to make it more clearer

[2015-08-29 01:42] nolanlawson commented on #48
Yeah, unfortunately LevelDOWN does not compile properly on Windows. It is a known issue: https://github.com/Level/leveldown/issues/207

[2015-08-29 01:42] #48 closed

[2015-08-29 03:14] pacav69 commented on #48
i managed to get local-npm running by updating to the latest version of npm
apparently the msi version on nodejs is outdated
so you have to use version v2.7 of python and setting npm to use, then run
the install.sh from nodejs to update
then did an install of local-npm and it is now working

On Sat, Aug 29, 2015 at 9:42 AM, Nolan Lawson <notifications@github.com>
wrote:

--
Paul Cavanagh
Business

[2015-09-16 15:09] vbauerster opened #49 "installation problem under node v4.0.0 and npm v2.14.3"
After updating to node 4, local-npm ceased to work at some point.
Uninstall was ok, but when ```npm install -g local-npm```, I got [this error](https://drive.google.com/file/d/0ByRz5v9LmStMczZVd3dITnVpV2M/view?usp=sharing).
Here is [npm-debug.log](https://drive.google.com/file/d/0ByRz5v9LmStMVkVGUjZyUHZGTEk/view?usp=sharing) file.

[2015-09-16 15:37] nolanlawson commented on #49
I can repro. Seems to be related to out-of-date leveldown packages.

[2015-09-16 15:45] nolanlawson commented on #49
Should be fixed in 1.4.5, thanks for reporting!

[2015-09-16 15:45] #49 closed

[2015-09-16 18:10] vbauerster commented on #49
Indeed fixed) Thanks for quick update!

[2015-10-05 00:35] jimpick opened #50 "Doesn't work with scoped npm modules"
Here's an example of the error from `npm install`:

[code]

Information on scoped (and private) modules:

https://docs.npmjs.com/getting-started/scoped-packages

[2015-10-05 01:31] nolanlawson commented on #50
Interesting! I'm not really sure how to get this to work, though, since I guess the modules are published in a separate registry? local-npm works by replicating the main registry to a local pouchdb; not sure which registry would need to be replicated for private modules.

[2015-10-05 21:16] jimpick commented on #50
I found some docs here:

https://github.com/npm/npm/blob/master/doc/misc/npm-scope.md

It looks like I can set a registry per-scope, so I can do this:

npm config set @jimpick:registry https://registry.npmjs.org

So I can still use local-npm for the majority of packages, and npm will use the official registry for scoped packages. Nice!

[2015-10-14 12:20] kesla opened #51 "Not reconnecting after offline"
Hey!

Thanks for local-npm, love it!
However, I've had some problems that when I've went offline for a while I'm behind the main registry and it doesn't seem to reconnect to get up to speed again...
I've tried restarting the local-npm process without any success. This is, using the OS X launch daemon (https://gist.github.com/nolanlawson/83ba5862bd719925d9cd).

Any tips on what I should do to get t

[2015-10-17 16:30] nolanlawson commented on #51
Hm, that's weird, I have exactly the same setup on my machine and it's been working perfectly for the past few months. Even if I turn the wifi on and off, it still works...

Can you run `pm2 logs all` to see if there's anything interesting in the logs? Also try updating your global pm2/local-npm installation; there have been some changes in the past few weeks.

[2015-10-20 08:26] kesla commented on #51
I'm on the latest version of local-npm, and looking at `pm2 logs all` I can see now that it tried to replicate the skimdb, got a timeout and then I can't see logging showing that it reconnected. So it's stuck at ~72%.

[2015-10-20 08:27] kesla commented on #51
[code]

[2015-10-20 08:27] kesla commented on #51
Or am I reading the logs in a bad way? :)

[2015-10-23 12:21] nolanlawson commented on #51
OK, I can confirm I see it in my own logs. Looks like what probably needs to be done is upgrade to PouchDB 5 and use the built-in retry replication.

[2015-10-23 12:31] nolanlawson commented on #51
I don't have time to look into this right now, but I started some work: https://github.com/nolanlawson/local-npm/tree/update-pouchdb-5

[2015-10-23 12:39] kesla commented on #51
@nolanlawson amazing, let me know if there's anything I can do to help.

[2015-10-23 14:03] nolanlawson opened #52 "Cannot upgrade to PouchDB 5 due to change in clone()"
See https://github.com/pouchdb/pouchdb-security/issues/2 for details.

[2015-10-24 03:07] nolanlawson commented on #52
fixed

[2015-10-24 03:07] #52 closed

[2015-10-24 03:07] nolanlawson commented on #51
OK it turned out to be a subtle bug in the pouchdb-security plugin, should be fixed with the latest release.

[2015-10-24 03:07] #51 closed

[2015-10-24 13:43] kesla commented on #51
@nolanlawson Thank you so much! It's working now it seem! :)

[2016-01-03 06:53] OmgImAlexis opened #53 "Slow loading times, 1 - 3 seconds per package"
As you can see I'm getting between 1 and 3 seconds for some of my packages even though I had just run `npm install`.
Shouldn't this be faster since it's already downloaded those packages the first time I ran `npm install`?

[code]

[2016-01-03 18:25] nolanlawson commented on #53
Yeah, I've been using it as my personal npm server for awhile now, and I've noticed that sometimes it's pretty slow as well. Needs investigation.

[2016-01-03 20:28] nolanlawson commented on #53
Well, I just tried comparing `local-npm` to regular npm, for installing all dependencies of a large project (PouchDB), on a slow café wifi in Brooklyn. Results:

* local-npm: 4m37.412s
* regular npm: 14m52.772s

Steps to repro:

[code]

So I guess npm is just crazy slow these days. I'm using npm 3.3.5 and node 4.0.0 BTW.

[2016-01-03 21:29] OmgImAlexis commented on #53
I'm guessing it's something to do with the way npm 3 works. :disappointed:

[2016-01-04 00:53] nolanlawson commented on #53
I ran some tests. Looks like `local-npm` is slower for the first install, but faster afterwards: https://github.com/nolanlawson/test-local-npm-speed#readme

[2016-01-04 01:01] OmgImAlexis commented on #53
Does it cache both the metadata and the full tarball for each npm module? Just trying to think of ways to speed it up.
Having my cache on a local SSD should get me sub 1 minute install times on my repos but I still end up with a full `npm install` taking around 5 minutes.

[2016-01-04 06:33] nolanlawson commented on #53
It really depends on your repo. Many packages have postinstall steps that take a long time (e.g. compiling from C, downloading a tarball from somewhere other than npm, etc.).

And yes, after the first time, both the metadata and tarballs are cached. So if it's taking a long time even after the second install, then that's purely non-network npm stuff. (Turn off your Internet and retry to verify.)

[2016-01-04 08:48] PavelGavlik opened #54 "Proxy support"
Hi,
I'm trying to use local-npm behind proxy. Is it possible or does that require code modifications?

[2016-01-05 08:10] WoodyWoodsta opened #56 "Ability to specify a working directory"
Would be great to be able to pass a directory in which the db and other files will be made, so that we do not have to invoke `local-npm` in the directory where we want the files. This would help a lot with tools like forever.

[2016-01-06 05:12] nolanlawson commented on #56
fixed in 1.5.0 via https://github.com/nolanlawson/local-npm/pull/55. Thanks!

[2016-01-06 05:12] #56 closed

[2016-01-06 05:17] nolanlawson opened #58 "Add tests"
It's downright embarrassing not to have any. This tool has grown enough (in codebase size and popularity) that it deserves tests.

Probably we can use a combination of pouchdb-server and pouchdb-load to avoid having to replicate all of npm just to run the tests. Running the tests on a subset should be fine.

[2016-01-06 07:48] WoodyWoodsta commented on #56
Oh brilliant... Thanks for the incredible tool btw :+1:

[2016-01-09 17:33] nolanlawson commented on #54
Nope! :) A normal HTTP proxy should work fine.

[2016-01-09 17:33] #54 closed

[2016-01-09 23:18] nolanlawson commented on #58
Fixed by https://github.com/nolanlawson/local-npm/pull/59

[2016-01-09 23:18] #58 closed

[2016-01-10 00:57] nolanlawson opened #64 "RemoteTestService package gives a 404"
This is a bug in npm itself (apparently), but maybe we can use it to test some odd error cases?

To repro:

[code]

Looks like the tarball referenced from http://registry.npmjs.org/RemoteTestService gives a 404: http://registry.npmjs.org/RemoteTestService/-/RemoteTestService-0.0.1.tgz

[2016-01-10 21:31] mattkrick opened #77 "publish not working unless you're already logged in"
NPM@3.5.3

first time running publish i get `ENEEDAUTH`
run `npm adduser`
fill out stuff
get the following
[code]

currently switching back whenever i need to publish, which isn't great, but sure beats the heck out of waiting 5 mins to run install thanks to npm3  :+1:

[2016-01-10 22:41] nolanlawson commented on #77
Yeah, currently `npm publish` only works if you are _already_ logged in. This is something worth fixing, though! :)

[2016-01-11 01:59] mattkrick opened #79 "Packages get stuck with out-of-date versions"
For a certain package, local-npm isn't showing the latest available version from npm. Is falling out of async an issue? Is there any easy way to rescan to get it back?

[2016-01-12 19:17] nolanlawson commented on #79
Hmm, normally that should be taken care of automatically. Can you look at the `local-npm` logs and verify that it's still replicating from the main npm registry?

Alternatively, you can clear out all the data by 1) stopping local-npm, 2) clearing out the data directory especially `skimdb`, and then 3) restarting.

[2016-01-13 10:11] subesokun opened #80 "Bind local-npm against remote Sinopia instance"
Hi, I'm very interested in using local-npm but currently I'm facing the problem that our "master" npm registry is based on Sinopia which hosts bunch of private NPM packages and it's currently difficult to change that. Is it somehow possible to bind local-npm against Sinopia (or similar solutions that provide only a fullfatdb)? I'd love to use local-npm so that I can work also offline.

Thanks a lo

[2016-01-13 12:39] nickcolley commented on #80
Hey @subesokun !

Looks like you can configure what registery local-npm uses with the CLI options: https://github.com/nolanlawson/local-npm#command-line-options

So maybe
[code]

Then set your npm client to hit local-npm so you'd end up with.

npm (client) -> local-npm -> sinopia -> default-registry

Hope this helps

Nick

[2016-01-13 13:37] nolanlawson commented on #80
Thanks @nickcolley, this is definitely the right way to do it, but unfortunately Sinopia can't be supported (nor can [Nexus npm](http://blog.sonatype.com/2014/10/npm-registry-support-for-all/) or similar npm-esque registries), because *they are not built using PouchDB/CouchDB*.

Therefore the problem will come in when you try to do e.g. `--remote-skim http://localhost:4873/skimdb`, because Sinopia

[2016-01-13 13:37] #80 closed

[2016-01-13 14:04] subesokun commented on #80
Hi @nolanlawson, thanks for your feedback. I've feared already that this won't be possible due to missing PouchDB/CouchDB in Sinopia but thanks for clarifying.

[2016-01-13 20:50] cdaringe opened #83 "crashes when browsing in fauxton"
[code]

[2016-01-14 06:45] IngwiePhoenix opened #84 "SHA missmatches"
[code]

How do I fix that? :/ It keeps happening, and clearing my cache did not do a thing.

[2016-01-14 08:15] IngwiePhoenix commented on #84
Actually, I looked at the file another time that i got the failure, since no installs at all work. So...

[code]

Interesting! My launch script:

[code]

(I use HTTP instead of HTTPS, since, for whatever reason, HTTPS is slower and at some point drops conections.)

Any idea whats up?

[2016-01-14 16:31] mlegenhausen commented on #79
Have the same problem. Still replicating but some packages seem out of sync. In my case it was `js-extend` (a depencency of pouchdb).

[2016-01-15 02:32] nolanlawson commented on #84
Maybe your tarballs are actually being maliciously modified by your ISP on the way in? Since you are using HTTP?

Otherwise, unfortunately I would need steps to reproduce to understand what's happening. E.g. `npm install some-weird-package` that reproduces the error.

[2016-01-15 02:37] nolanlawson commented on #79
Hm, could either of you post the last output from the logs? Usually you can see something like

    local-npm-0 (out): Replicating skimdb, last_seq is: 651129 (100%)

Which e.g. indicates that the last change that came in was `651129`, which you can check by querying: https://skimdb.npmjs.com/registry/_changes?limit=1&since=651129.

If you increase that `limit`, you can see if there are newer modu

[2016-01-15 02:37] IngwiePhoenix commented on #84
Also, mind the `ENOTFOUND` that is actually written in place of the tarbal, as demonstrated above.

[2016-01-15 02:39] nolanlawson commented on #83
Hm, looks like your system is low on memory. Unfortunately I cannot reproduce using Firefox, local-npm 1.5.3, OS X, and browsing through the first few pages of http://localhost:16984/_utils/#/database/skimdb/_all_docs. Can you provide more details to reproduce?

[2016-01-15 02:47] nolanlawson commented on #84
Unfortunately I cannot reproduce using the steps you provided (on OS X, using local-npm 1.5.3, default registry over https instead of http). `npm install` successfully completed with no error status. Maybe try a `npm cache clear` and `rm -fr node_modules` and then try `npm install` again?

[2016-01-15 03:02] IngwiePhoenix commented on #84
No luck.

[code]

I am so lost. I will try to use the default parameters without anything else and operate `local-npm` just on its defaults and see if that does something. Because when I visit the local path and see the "mini npm", I can also see the packages. Well, going to try that now.

[2016-01-15 03:05] IngwiePhoenix commented on #84
Nope, same problem. Even on defaults.

[2016-01-15 03:07] IngwiePhoenix commented on #84
Just found this in the output of the srver itself:

[code]

I used `tail -f`, so there might be more.

[2016-01-15 03:10] IngwiePhoenix commented on #84
Just re-tried, but instead kept tailing. Turns out that the message pops up for an alarming amount. It seems that `local-npm` is unable to download stuff itself. Or, at least, it gets wrong stuff.

This might be related to the error that I see printed into the wanna-be tarball:

[code]

How can I debug that?

[2016-01-15 03:35] cdaringe commented on #83
yea, sorry, i tossed that up without any supporting context.  i figured out the cause.  it was as simple as running the default query (query with mango) on skim db.  slowly crawled my mem usage from 90mb to 1.5~gb before tanking.  not a local-npm problem.  sorry for the waisted effort.  it would be nice to be able to cancel that active query, but that'd more of a couch/fauxton thing

[2016-01-15 03:36] cdaringe commented on #83
i didnt realize that was the issue at first because I used the UI for ~another minute for it all went down!  thanks :)

[2016-01-15 03:36] #83 closed

[2016-01-15 05:39] nolanlawson commented on #84
Ohhh, I know what's happening. Sorry. This is due to the http/https stuff. I think I know what the fix is.

[2016-01-15 05:43] nolanlawson commented on #84
Check out https://github.com/nolanlawson/local-npm/pull/87

[2016-01-15 05:50] nolanlawson commented on #84
Should be fixed in 1.5.4. Sorry for the troubles!

[2016-01-15 05:50] #84 closed

[2016-01-15 06:10] IngwiePhoenix commented on #84
Yes, 1.5.4 fixed it. Im so curios i’m going to check out the commit that did the magic :).

Thanks for fixing!

[2016-01-15 08:31] mlegenhausen commented on #79
Am already at seqId 651889 and no more outstanding changes to sync and still `js-extend` only version 0.0.2 available (which was the last before 1.0.1). Could you find out the seqId where js-extend was updated? So I can test out my result for the query.

I think deleting the database and resyncing will solve the problem, but that is really annoying when you need to sync 700mb and hopefully it is n

[2016-01-15 12:20] mlegenhausen commented on #79
Ok I get more and more packages out of sync. I will remove my local database and replicate again. Is there any way to collect error information that is useful for you?

[2016-01-15 13:08] nolanlawson commented on #84
No prob! It was a dumb mistake on my part. :P

[2016-01-15 17:00] nolanlawson opened #88 "Incorrectly assumes that the --remote repo is another local-npm"
Follow-up to https://github.com/nolanlawson/local-npm/issues/84: we need a better way to detect whether the `--remote` repo is another local-npm or not, otherwise e.g. if someone has an HTTP proxy to the main npm, then we will assume it's `local-npm` and be unable to fetch tarballs. The current system for detecting this is hacky and is based on looking for a URL that looks like `https://registry.n

[2016-01-16 23:00] nolanlawson commented on #79
This actually does sound like a bug in the persistence layer. However, I've been using `local-npm` on my machine (Mac OS X) for months and never seen such a bug. :confused: In fact I often publish a module, then I check `npm info modulename` and it shows the latest version within a few seconds...

If you can provide any steps to reproduce, that would be helpful, but I have no idea why this is happ

[2016-01-16 23:01] nolanlawson commented on #83
Hm, that sounds like a bug in `pouchdb-find` then. Yikes.

[2016-01-16 23:22] nolanlawson commented on #88
Hm, just occurred to me that another solution to this problem would be to use `transform-pouch` to transform outgoing documents so that the 2nd local-npm in the daisy chain would just automatically know where to go fetch the tarballs.

[2016-01-18 08:52] mlegenhausen commented on #79
Of cause local-npm is awesomely fast synced with the npm registry. I just guessed maybe this happens between restarts of my machine or so on.

But guesses don't help that much here. I updated to the latest node and local-npm version and resynced all again and activated debug logging. I will keep an eye on it and maybe I find something in the logs.

[2016-01-18 11:32] latentflip commented on #79
FWIW I've just run into the same issue. My logs say everything is running, and that I'm up to date with the last_seq number, but if I try and install destroy@1.0.4 (https://www.npmjs.com/package/destroy) I get a failure.

[2016-01-18 15:54] nolanlawson commented on #79
@latentflip What happens when you run `npm info destroy`? And what failure do you get?

Another way to debug this is to browse around in the Fauxton UI of the PouchDB database, which is at http://127.0.0.1:16984/_utils. Click on `skimdb`, find the package by name, and see what data is synced.

[2016-01-18 16:08] cbrwizard opened #89 "Npm always trying to install from http://127.0.0.1:5080 for certain packages"
Hey, I have a problem that after using local-npm some packages are always trying to get installed from http://127.0.0.1:5080 even though I have `npm config get registry` = `https://registry.npmjs.org/`. I've tried running `npm cache clean` but no luck. What can I do?

[2016-01-18 16:28] nolanlawson commented on #89
Hmmm, that's weird, `npm cache clear` should fix that issue. :( Have you tried `rm -fr node_modules` as well?

The reason this is happening is that `local-npm` overrides the package metadata to point to localhost:5080, but really it shouldn't continue to use those URLs if you `npm cache clean`. You might try a `npm config set loglevel verbose` as well.

[2016-01-18 16:40] cbrwizard commented on #89
Thanks for a quick answer!
Actually it was my mistake: I forgot to delete a npm-shrinkwrap file with an old http://127.0.0.1:5080 address, that's why it continued to use it for certain packages. I will remember it from now on [:

[2016-01-18 16:40] #89 closed

[2016-01-19 16:07] DavidBrower opened #90 "Error "Could not locate the bindings file""
**node-gyp v3.2.1**
**node.js v5.3.0**
**npm v3.5.3**
**prebuild v2.8.1**

When I run local-npm I get the following error:

C:\Users\david.brower\AppData\Roaming\npm\node_modules\local-npm\node_modules\bi
ndings\bindings.js:91
  throw err
  ^

Error: Could not locate the bindings file. Tried:
 → C:\Users\david.brower\AppData\Roaming\npm\node_modules\local-npm\node_modules
\leveldown\build\leveldow

[2016-01-19 23:13] rex commented on #45
@nolanlawson I apologize for bumping an old thread but I installed `local-npm` earlier (amazing, by the way! Thank you!) and upon following the instructions detailed in the provided gist for creating a `LaunchAgent` on Mac it started re-replicating the entire skimdb. I noticed that it was a bit weird that the Fauxton UI showed the entire DB size as ~70MB, and checked `pm2 logs` and sure enough, re

[2016-01-20 00:21] nolanlawson commented on #45
Nah, this issue is fine. Still trying to reproduce it, though. I use a LaunchAgent myself on my own laptop, and I haven't seen this bug in months. :/

[2016-01-20 00:22] nolanlawson commented on #90
This seems like an error with [leveldown](https://github.com/Level/leveldown); I know that history there have been issues with Windows machines. You might try searching over there to see if your version of Windows has known issues.

[2016-01-20 09:30] DavidBrower commented on #90
Thanks, Nolan.

[2016-01-20 09:30] #90 closed

[2016-01-20 13:59] gr2m commented on #50
fyi while scoped packages are not synced because they are not listed in the registry changes, I had no issues with them, they got installed from the main registry without the necessity to manually adjust any settings with `npm config set`

[2016-01-20 14:06] nolanlawson commented on #50
yeah, what's "supposed" to happen is that scoped modules are just fetched using the fallback functionality. (I.e. the app assumes it hasn't synced them yet and fetched from remote.) I would actually be surprised if it _didn't_ work; not sure what happened in your case @jimpick. (N.B.: I don't use scoped packages myself.)

[2016-01-20 14:08] gr2m commented on #50
yeah, I think that’s exactly how it works for me :+1:

[2016-01-20 15:56] rex commented on #45
I feel your pain. People make fun of it, but "it works on my machine" is often just the way it is.

I'll try unloading and reloading the LaunchAgent and see if it restarts replicating skimdb.

[2016-01-21 02:33] gera2ld commented on #77
Same issue here, and `npm login` not work either (got error messages the same as above).
Do I have to switch my registry back to `https://registry.npmjs.org` to log in?

[2016-01-21 15:42] nolanlawson commented on #45
I honestly don't understand what the difference is if you run it as a LaunchAgent, but it seems like a file/permissions thing to me? Maybe when it runs as a LaunchAgent the files are saved with a particular set of permissions, and then those don't transfer over when you run it normally?

To test, you can try running `local-npm` _only_ in regular mode (without the LaunchAgent), and I guarantee it w

[2016-01-21 15:43] nolanlawson commented on #50
Cool, so maybe this was some other bug that's now resolved? @jimpick can you reopen this if it's still an issue? Thanks!

[2016-01-21 15:43] #50 closed

[2016-01-21 15:44] nolanlawson commented on #77
@gera2ld What I've normally done is `npm login` in one registry, then copy the `.npmrc` credentials from one to the other when I switch back. Of course you shouldn't have to do that, but in the meantime, it's a workaround.

[2016-01-21 15:44] nolanlawson commented on #77
So now that we have tests in place, this should be a fairly easy issue to reproduce. You would just need to add a test for `npm login` and confirm that the app at least redirects you to the main npm (no need to expose your credentials in the test itself, just reproduce a 403 or something...).

[2016-01-21 16:39] rex commented on #45
I am not sure what the difference would be either. Now that you mention it, though, I did have a facepalm moment when I realized the mistake I made in my initial investigation.

`local-npm` stores the PouchDB database **in the current working directory from which it is executed**.

I noticed this when I saw `pouch__all__dbs__` and `pouch__all__sessions__` in a git diff and realized immediately tha

[2016-01-23 22:41] elgubenis commented on #50
do one has to wait until the skimdb replication is complete so it sees that private scoped packages does not get fetches? or should it already work while still recplicating?

[2016-01-23 22:44] elgubenis commented on #50
would be nice though to also have a way to cache scoped packages, but no idea how.

[2016-01-23 23:52] elgubenis commented on #53
hey, i compared install speeds of npm@2 vs npm@3 both using the local-npm registry, just felt an urge to post it somewhere:

npm@2 took 1m 3s
npm@3 took 3m 14s

not sure if its important but the replication was not yet at 100% when the comparison was done, jfyi.

[2016-01-23 23:53] elgubenis commented on #53
[code]

[2016-01-24 00:30] nolanlawson commented on #50
It should work with scoped packages both during and after skimdb replication, but I haven't tested it.

[2016-01-24 00:30] nolanlawson commented on #53
Interesting. :) I do know that npm3 adds extra time because of the module deduping.

[2016-01-24 00:32] nolanlawson commented on #45
Ah, didn't realize that was the issue. Yeah, I would ultimately like to create a `brew install local-npm` that just creates the LaunchAgent and chooses a canonical storage location, but looking through the Homebrew docs, it seems pretty unfeasible because they only allow "high profile" software (and don't typically accept patches submitted by the software author themselves). But maybe a bash scrip

[2016-01-24 00:32] #45 closed

[2016-01-26 22:18] rex commented on #45
@nolanlawson I just saw https://github.com/nolanlawson/local-npm-launch-agent and felt compelled to come back to this issue and let you know how awesome I feel your solution is. Not only is it incredibly simple for new `local-npm` users but it solves a myriad of other issues by guaranteeing a standardized install location.

10/10 well done.

:beers: :tada:

[2016-01-28 19:53] nolanlawson opened #92 "GET /modulename/latest not supported"
This is what `pnpm` does, so we'll need to do it to support it.

[2016-01-29 03:26] nolanlawson commented on #92
15b9a9df28c6430e88b31abcb0c539e9245929bb

[2016-01-29 03:26] #92 closed

[2016-01-29 05:25] nolanlawson commented on #77
Fixed by https://github.com/nolanlawson/local-npm/pull/95.

[2016-01-29 05:25] #77 closed

[2016-01-29 13:50] nolanlawson commented on #45
Awesome, glad it works for you! :)

[2016-01-29 15:33] rahmatawaludin opened #96 "Can't use when offline"
It seems I haven't read much about how to use this tools. So, I were following Addy Osmani article https://addyosmani.com/blog/using-npm-offline. I run with `local-npm -d ~/.local-npm` then I follow this guide:

- Check your network connection is up
- Run an npm install to grab a module or collection of dependencies from a package.json file. For example, lodash.
- At this point, local-npm will hav

[2016-01-29 22:29] forivall opened #98 "Allow specifying replication batch size in command line"
Especially for syncing local-npm between different computers ("protip: You can replicate from your friend's local-npm..."), it would be nice to increase the batch size, unless there's some other limitation that forbids this.

Or, batch size could be automatically increased if you detect that the remote address is on a local subnet (192.168.x.x / 10.x.x.x / that other local subnet that nobody uses)

[2016-01-30 00:43] nolanlawson commented on #98
If there's a more ideal batch size, I think it should just be increased across the board. Batch size in PouchDB/CouchDB is best determined based on the average size of documents. So if you see better performance from your friend's computer at x number of documents, then most likely you'd get the same benefit from syncing from npm remote.

And to be fair, I basically pulled the current batch size o

[2016-01-30 00:46] nolanlawson commented on #96
`local-npm` takes a little while to sync all metadata from the remote registry. This metadata is required in order to function entirely offline, and it's not cached when you simply `npm install`.

On a fast connection, it should finish replication in about an hour. On a slower connection, it might take a few hours. You can check the logs to see when it's done (it'll say "100%").

[2016-01-30 00:46] #96 closed

[2016-01-30 00:47] nolanlawson commented on #96
That said, caching the metadata optimistically would be a nice feature, so I might add it. :)

[2016-01-30 00:47] nolanlawson opened #99 "Cache metadata optimistically"
I think we could do a `get` with `revisions=true` and essentially replicate on-demand. This would mean you wouldn't have to wait for a slow ramp-up time for all the initial replication of the skimdb metadata to complete. See https://github.com/nolanlawson/local-npm/issues/96 for more info.

[2016-01-30 01:02] rahmatawaludin commented on #96
Ah.. this clear my confusion. Could you tell me how large is the metadata file?

[2016-01-30 13:29] nolanlawson commented on #96
On my machine, it's about 765MB.

[2016-02-01 09:38] mlegenhausen commented on #79
Again out of sync after 14 days of usage. Nothing in the error logs. Debug logs are pretty big don't know what to look for. Had one or two restarts during this time.

Using Node 5.4.1 and latest local-npm version.

[2016-02-01 13:18] nolanlawson commented on #79
The thing to look for in the logs is the "last_seq". Then compare that to the last_seq from the CouchDB in skimdb, which you can find this way: https://skimdb.npmjs.com/registry/_changes?limit=1&descending=true

(I.e. that link will show you the most recently published module, and the sequence number associated with it. If your local last_seq is lower than that, then replication has stalled for so

[2016-02-01 13:48] mattkrick commented on #79
Fwiw this only happened the once and it healed itself without me doing
anything (although the package in question got a version bump, so maybe
that triggered a refetch). Probably too early to suggest a fix since we
still don't know the cause, but maybe a nice `local-npm --manual
package@version` that rimrafs the package in question would be useful.

On Mon, Feb 1, 2016, 7:18 AM Nolan Lawson <notif

[2016-02-01 16:54] jgog commented on #79
Hey guys,

I am facing the same issue, trying to update `react` but the `local-npm` is out of date. The logs show everything is fine:
[code]

Here are the screens:
![screen shot 2016-02-01 at 10 18 20 pm](https://cloud.githubusercontent.com/assets/971411/12724053/2015b92e-c932-11e5-9cb7-01d014044d01.png)

![screen shot 2016-02-01 at 10 18 18 pm](https://cloud.githubusercontent.com/assets/971411/12

[2016-02-04 05:28] jgog commented on #79
Hey @nolanlawson any fix for this, I still have react@0.14.6 on my local!

[2016-02-05 22:40] IngwiePhoenix opened #100 "Pushing results in 400."
Publishing a module - authorized previously through regular NPM - results in a 400 error message and NPM refusing to publish.

[code]

[2016-02-05 23:49] forivall commented on #98
I got the chance to test it, and it turns out that your guess was perfect :neutral_face: . My test code is here: https://github.com/forivall/local-npm/tree/replication-pref-test

[2016-02-05 23:49] #98 closed

[2016-02-08 09:40] mlegenhausen commented on #79
7 days, again packages out of sync. I am definitely on sync and when fetching the package witch `https://skimdb.npmjs.com/registry/<package_name>` I get already the new version from the `skimdb`, but this version was not replicated to my `local-npm` instance.

In this case the package is `babel-register`. I find out that the sequence number of the package was `734745`. In my `local-npm` logs I fin

[2016-02-13 18:11] nolanlawson commented on #79
I'm sorry y'all ran into this, but I've never been able to reproduce on my own machine. Based on the screenshots, though, I can definitely confirm that it's an issue with the PouchDB replication.

My guess is that maybe this only happens when modules are unpublished? I'm not familiar with the release schedule of React, but maybe they unpublished, but the npm CouchDB changes feed doesn't actually p

[2016-02-13 18:20] nolanlawson commented on #100
You need to re-authorize when you change `npmrc`s. The authentication token in stored in the `.npmrc` file itself.

[2016-02-13 18:20] #100 closed

[2016-02-15 07:10] Arch-Mage opened #101 "Throws error unhandled stream error in pipe when do npm install offline"
I tried to disconnect the internet connection and leave `local-npm` server
running. Then, I do `npm install` it gives me:

    stream.js:74
          throw er; // Unhandled stream error in pipe.
          ^

    Error: getaddrinfo ENOTFOUND registry.npmjs.org registry.npmjs.org:443
        at errnoException (dns.js:26:10)
        at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:77:26)

And t

[2016-02-16 04:32] nolanlawson commented on #101
Yes, this looks like a bug. Sorry about that.

Unfortunately I can't reproduce - which version of `local-npm` are you using?

[2016-02-16 04:38] nolanlawson commented on #101
Nevermind, I can reproduce. The error is the one described in the README:

So e.g. when I reproduced this, I saw in the logs:

    node-0 not cached rollup at version 0.25.4, downloading...
    node-0 Error: getaddrinfo ENOTFOUND registry.npmjs.org registry.npmjs.org:80

Because Rollup 0.25.4 was published after I last installed, but I'm offline, so I don't have 0.25.4.

[2016-02-16 04:38] #101 closed

[2016-02-16 04:45] nolanlawson opened #102 "Optimistically cache tarballs when packages change"
When you install `lodash@^4.0.0`, then `local-npm` will cache and store `4.0.0` for future `npm install`s.

However, if `4.0.1` is published after you `npm install`, then `local-npm` will find out about it via the changes feed, but it will not download the actual tarballs.

So if you then go offline and try to `npm install` again, it will fail because `local-npm` knows that there is a newer versio

[2016-02-16 04:45] nolanlawson commented on #101
Related: https://github.com/nolanlawson/local-npm/issues/102

[2016-02-17 17:26] gr2m opened #103 "npm install node-sass fails with "No compatible version found""
I get the same error for both, `npm install node-sass` and `npm install node-sass@latest`

[code]

Outputh with `loglevel=silly`: https://gist.github.com/f11dfb3b2c3e2b04d480

The issue does not occur when using the standard registry (`npm set registry https://registry.npmjs.org`).

This works: `npm install node-sass@3.4.2`

I've updated local-npm to the latest version

[code]

All packages are sy

[2016-02-17 18:50] nolanlawson commented on #103
Looks like the bug is that node-sass somehow has:

    'dist-tags': { latest: 'v3.4.2', beta: 'v3.5.0-beta.1' },

`local-npm` isn't smart enough to remove the `v` apparently.

[2016-02-19 16:47] mattkrick commented on #96
If I start local-npm with an internet connection & then go offline, everything works fine.

If I start up local-npm when I'm offline, I get the following error:
[code]

Is there a workaround?

[2016-02-19 18:54] nolanlawson commented on #96
If you go offline and then go back online, it will retry. At least, I have tests in place that verify that, so that is how it ought to work.

[2016-02-19 19:13] mattkrick commented on #96
that's true, but here's the use case:

Step on a plane with the intent of switching a package to use immutable-js
Go to install immutable-js, but I'm offline
Open local-npm, install immutable-js

As a workaround, I currently have to search locally for immutable-js, copy & paste it, get some missing dependency errors, copy those, etc etc until npm can successfully walk the whole dependency tree.

[2016-02-22 01:19] nolanlawson commented on #96
Yeah, I've been trying to think of how to support use cases like this. I'm sure some people would be happy if local-npm just automatically downloaded the top _n_ npm modules and kept them continually up-to-date, but I've shied away from that because I felt it was too aggressive for the common use case. (See my ideas in https://github.com/nolanlawson/local-npm/issues/102). It may still be possible

[2016-02-22 02:15] mattkrick commented on #96
i like the command-line flag idea. i pass in a flag & i don't care if i
don't have the latest version.

On Sun, Feb 21, 2016 at 8:19 PM, Nolan Lawson <notifications@github.com>
wrote:

[2016-02-22 02:15] mattkrick commented on #96
also, this would save a ton of time on those 304s (on a slow connection,
this can approach 1 minute per 304)

On Sun, Feb 21, 2016 at 9:14 PM, Matthew Krick <matt.krick@gmail.com> wrote:

[2016-02-22 20:21] DrorT opened #104 "Crash on timeout errors when on slow connection"
Hey,
The package is great and helps a lot especially on very slow connections, but on big installs local-npm will crash a few times as a result of Timeouts with the following error -
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: connect ETIMEDOUT 199.27.79.162:443
    at Object.exports._errnoException (util.js:856:11)
    at exports._exceptionWithHostPort (util.js:879:20

[2016-02-25 21:08] IngwiePhoenix opened #106 "Can not log in."
[code]

Installed version is: 1.5.7

So...how do I log in?

[2016-03-02 14:03] nolanlawson commented on #106
Not sure. Logging in works for me...

[2016-03-02 16:48] nickcolley commented on #106
@IngwiePhoenix what happens when you try and login to the normal registry without using local-npm?

[2016-03-03 01:28] IngwiePhoenix commented on #106
@nickcolley That works. I just cant log in through local-npm at all. So I end up always using `--registry http://registry.npmjs.org` when `npm publish`'ing things. When I attempt `npm login` - even if i logged out previously or manually erased the token - I get these awkward errors.

[2016-03-03 16:44] adius opened #107 "Publish private modules locally"
It would be great if it was possible to publish a private repository to local-npm. I.e. when `private: true` is set in package.json and one runs `npm publish` it will no be published to npm but it still can be installed locally via local-npm.

[2016-03-05 19:43] MarufSarker commented on #79
This problem seems like happening regularly. A few days back had this issue, and had to switch back to regular npm registry.

Again, today it happened (today's package: postcss-discard-duplicates). I was getting the 2.0.0 for every try (with sync status 100%).

Then I removed all files and folders created by ```local-npm``` and re-started the server from 0.00%, everything became normal and the 2.0

[2016-03-06 16:42] nolanlawson commented on #107
I thought about it and decided I don't think it's within scope for what I want local-npm to do. However it's entirely possible to build your own local npm using PouchDB, so I encourage anybody to look at the code and try. :)

[2016-03-06 16:42] #107 closed

[2016-03-06 16:42] nolanlawson commented on #107
Reason being: it's a whole lot of work to fully support a writable npm-compatible API, as opposed to just mirroring npm.

[2016-03-06 16:48] nolanlawson commented on #104
05062069bb1444d2f277d045c1372f6ca6e1d6a0

[2016-03-06 16:48] #104 closed

[2016-03-06 17:39] nolanlawson commented on #79
Really sorry to say I'm not sure what's going on here, unless we have a test to reproduce. :/ PRs would be welcome if anyone can figure this out, though.

[2016-03-07 17:11] MarufSarker commented on #79
(```just in-case it become handy```)

Is this behavior somewhat normal, going from 100%(nearly) to back down to 50%(nearly)?

I'm not being concerned about the percentages, but about the ```last_seq```. They followed as ```837998``` > 837999 > 836836 > ```456509```

![local-npm](https://cloud.githubusercontent.com/assets/10809140/13576140/62a3e69a-e4b6-11e5-81d2-c2e8c22f7ae4.png)

and after some t

[2016-03-09 03:49] nolanlawson commented on #79
In case anyone wants a temporary solution to this problem (for OSX):

[code]

[2016-03-10 00:15] jesstelford commented on #102
I `npm install` a lot while tethering. Even the existing changes feed make me nervous about going over my ridiculously low data cap.

I'd support optimistic tarball caching if it's configurable (and off by default).

[2016-03-11 01:16] TehShrike commented on #79
I just ran into this issue on OSX with `babel-types` - I'm unable to install 6.7.2.  I note that 6.7.1 was apparently unpublished.

[2016-03-11 02:07] tyler-johnson opened #108 "Install private NPM packages?"
I have some packages in an NPM organization that are private. When I try to install them, I get a 404 error from NPM. I assume this is because they are kept outside of the standard, replicated database so local-npm cannot even know about them.

Knowing the answer is probably no, I figured I'd ask anyway: can private package support be added to local-npm?

[2016-03-11 19:55] tyler-johnson commented on #108
I believe the solution is to set a scope specific registry URL so NPM avoids local-npm for private packages:

[code]

[2016-03-14 19:10] iarna opened #109 "A user-local version that uses the npm cache as its db?"
I wonder if anyone has given any thought to having an entirely user-local version that uses `~/.npm` to store data. With something like that, npm could safely use `--cache-min=Infinity` and avoid even talking to the proxy unless it needed something not cached.

It looks like this will just involve hooking the `pouchdb` changes feed to update metadata and making it possible to swap out `leveldb` fo

[2016-03-17 21:43] nolanlawson commented on #109
This has been proposed elsewhere, but I've said I think that's out of scope for local-npm. However local-npm can be used as a nice springboard for anybody looking to implement such a thing (i.e. basically a Sinopia on top of PouchDB).

[2016-03-17 21:43] #109 closed

[2016-03-17 21:44] nolanlawson commented on #108
So does that mean it's a user-configuration issue? Please reopen if that's not correct.

[2016-03-17 21:44] #108 closed

[2016-03-17 21:51] tyler-johnson commented on #108
Yes, but perhaps something could be added about private packages to the documentation?

[2016-03-17 21:54] nolanlawson commented on #108
Yes, I would love a PR for that. :)

[2016-03-18 20:19] mattkrick commented on #79
This happened to me again with 5 packages, all babel packages at v6.7.2, so I had the chance to experiment.

The quickest way to make things right:
- goto: http://127.0.0.1:16984/_utils/#/database/skimdb/_all_docs
- create an admin account. Updates & deletes fail if you don't...which is a bug I believe & possibly the root cause of this. @nolanlawson can you confirm that if no admin account exists,

[2016-03-25 15:09] millette opened #110 "markdown compatibility"
I was looking at <http://127.0.0.1:5080/_browse/#/local-npm> and the "How it works" section tells of the <http://127.0.0.1:16984/_utils> entry point - but because the markdown parser used seems a little bit flaky (I haven't investigated any further yet) the url <http://127.0.0.1:16984/utils> is shown instead with a bit in italic (because of the two underline characters. Compare the output with <ht

[2016-03-29 06:06] nolanlawson commented on #110
The markdown library is [this one](https://github.com/nolanlawson/local-npm/blob/master/lib/www/scripts/deps/markdown.min.js); I admit I don't recall exactly which one it is. Pull requests to improve it would be accepted. :)

[2016-03-30 18:00] millette opened #111 "Pagination is off by one"
For example, searching for "pump" on http://localhost:5080/_browse/#/
shows exactly 10 results, yet the "Next" button is still available and leads to a page with 0 results.

P.S.: I should be able to find the time to fix this (and the markdown bug).

[2016-03-30 20:17] kirbysayshi commented on #88
Seems like this also breaks if the remote repo is accessed over http!

[2016-03-31 15:05] ryan-kimber commented on #108
A much better solution, would be to be able to use local-npm as the registry for the private packages. Otherwise, all of the dependencies for the private module will also bypass local-npm. For a number of our projects (which compose a number of smaller modules into services), this means local-npm gets bypassed for nearly everything.

[2016-04-01 12:54] RnbWd opened #112 "Future of this project?"
I've been using [sinopia](https://github.com/rlidwka/sinopia) for over a year and. I maintain docker container for sinpopia on docker and it's seem like the it's the most used npm cache repo on docker.

But it looks like the lead dev abandonded the project - it's an extremely complicated express app - and I need to decide whether or not to take that over or work on something like this that seems p

[2016-04-03 18:05] gajus opened #113 "request entity too large"
Getting en error "request entity too large" when trying to publish a package that uses [`bundledDependencies`](https://docs.npmjs.com/files/package.json#bundleddependencies).

[code]

[2016-04-04 12:47] gajus opened #114 "npm whoami results in 401 error"
[code]

Expected output: My username.

Context: I am authenticated and I am able to install private packages.

[2016-04-04 16:56] smmoosavi commented on #90
I have same error in linux
[code]

[2016-04-08 10:06] millette opened #115 "Have (web) search work on tags too"
I understand why searching on descriptions is complex, but searching on tags should be quite easy. Maybe with a checkbox?

Thoughts?

[2016-04-08 14:04] byronhulcher opened #116 "Can't serve private npm modules"
I had trouble installing private javascript modules hosted on https://registry.npmjs.org/  When I would attempt to install one I would get:

[code]

Note: Yes, I did replace my package name with `<@org name>/<package name>` but I assure you I did entire a real package that exists on npmjs.com

Switching to the default registry using `npm set registry https://registry.npmjs.org/` allowed me to inst

[2016-04-08 19:50] montogeek opened #117 "Could not resolve package"
Hi!

This tool has been working extremely well for me for more than a month now, thanks for create it :)

Recently it have presenting an error regarding a package: `for-in`

Error:
[code]

local-npm is 100% synced with the registry

[2016-04-10 22:20] tyler-johnson commented on #116
I had the same issue, here's a solution: https://github.com/nolanlawson/local-npm/issues/108#issuecomment-195521353

[2016-04-11 09:28] jfmengels opened #118 "Publishing a module makes two attempts at publishing"
When I run `npm version patch && npm publish`, I get the following error

[code]

And I have the following in my logs

[code]

The package gets published alright, but there's a second attempt which then fails because the version already exists. Any idea on what might cause this?

I'm using `local-npm` version 1.5.8.

[2016-04-11 11:49] nolanlawson commented on #116
Hm, I don't have much experience with private modules, but I'm guessing the fix is that we need to pass the credentials from the original HTTP request on to `npmjs.org`, so that it serves a 200 instead of a 404. Sorry that I don't have a ton of time to work on this right now, but any pull requests would be welcome, and you'll probably want to start [here](https://github.com/nolanlawson/local-npm/b

[2016-04-11 13:45] byronhulcher commented on #116
Thanks for the reference @tyler-johnson, I neglected to check the closed issues.  A good stop-gap.

@nolanlawson Thanks for the pointer in the right direction!  I'll keep this in my back pocket for the next boroughgramming.

[2016-04-15 07:21] marthinus-engelbrecht commented on #103
I'm getting the same issue for `cross-spawn-async` but the dist-tags doesn't have a `v` in it `"dist-tags":{"latest":"2.2.2"}`. It looks like local-npm is not pulling down the latest package. See below:

<img width="806" alt="screen shot 2016-04-15 at 9 19 25 am" src="https://cloud.githubusercontent.com/assets/8449253/14554166/50863cb2-02eb-11e6-917a-20ce8fa2fb54.png">

[2016-04-16 20:44] TehShrike commented on #118
I've been observing this over the last week or so as well.

[2016-04-16 22:43] nolanlawson commented on #113
I can actually reproduce this issue and have run into it several times before. I'm guessing it's because I need to up the limit in the Express settings for the `PUT` request.

As a temporary hacky workaround, typically you can add a `"files"` member to your `package.json` and limit the number of files you're uploading to npm. I've found that usually fixes it, and it's also kind of a good habit.

[2016-04-18 10:53] gajus commented on #113
This is missing entirely the point of [`bundledDependencies`](https://docs.npmjs.com/files/package.json#bundleddependencies) property(, which is to upload all files, including those in `./node_modules` to NPM).

[2016-04-18 20:19] nolanlawson commented on #113
Ah gotcha, that's probably what's pushing it over the limit.

[2016-04-18 20:31] gajus commented on #113
Now, to make myself more useful:

1. I can see that `local-npm` is [using `express-http-proxy`](https://github.com/nolanlawson/local-npm/blob/eddacf9070acd1fc08e681ea379f72eed13948b6/package.json#L31).
1. `express-http-proxy` is [using `raw-body`](https://github.com/villadora/express-http-proxy/blob/02527df12bcb328932c90fa71aedcc0a398e556c/index.js#L7).
1. `express-http-proxy` [initialises `raw-bo

[2016-04-18 20:35] gajus commented on #113
Looking at the implementation of `raw-body`, it [attempts to convert `limit` to a finite number](https://github.com/stream-utils/raw-body/blob/f4ec2a5f6e9573c1ed126111b831c246b6ca580e/index.js#L97) using [`bytes.parse`](https://www.npmjs.com/package/bytes#bytesparsestring-value-numbernull). With that in mind, setting limit to `1gb` should cover all foreseeable use cases.

[2016-04-18 20:37] nolanlawson commented on #113
Cool! I'm fine with a super high limit like that.

[2016-04-18 20:57] gajus commented on #113
No, please continue on your own. PRs only make sense for sensible pieces of code. This is just adding a config.

[2016-04-19 10:21] DutchmanSA commented on #117
I have exactly the same issue with babel-traverse@6.7.6. The version on my local-npm is 6.7.4, but the latest on npmjs.org is 6.7.6 and an install dependency requires 6.7.6. Is there a way to force an update of a package version with local-npm?

[2016-04-19 10:30] DutchmanSA commented on #103
I have exactly the same issue with babel-traverse@6.7.6. The version on my local-npm is 6.7.4, but the latest on npmjs.org is 6.7.6 and an install dependency requires 6.7.6.

[2016-04-19 14:41] gr2m commented on #103
@marthinus-engelbrecht @DutchmanSA maybe a temporary sync hiccup? I got both, `cross-spawn-async@2.2.2` and `babel-traverse@6.7.6` in my local-npm

[2016-04-19 14:56] marthinus-engelbrecht commented on #103
@gr2m Yeah, getting the right version now.

[2016-04-19 15:35] DutchmanSA commented on #103
I'll have another look and also check local-npm running on my home mac. Maybe it is because my local-npm doesnt run permanently on a server host? So the question then is, is there no way to force a version update, similar to when you start local-npm for the first time and run npm install, it will go download the packages in question while syncing up. Why does it not do the same for when a version

[2016-04-19 15:46] gr2m commented on #103
You mean "why _doesn’t_"? Sounds like a good addition to me, CouchDB’s maybe send a PR?

[2016-04-20 12:15] nolanlawson commented on #114
Thanks! It's not a supported feature just yet.

[2016-04-20 12:16] nolanlawson commented on #111
Sorry, yeah! That looks like a UI bug.

[2016-04-20 12:17] nolanlawson commented on #117
Thanks for reporting! Looks like a duplicate of https://github.com/nolanlawson/local-npm/issues/79

[2016-04-20 12:17] #117 closed

[2016-04-20 12:18] nolanlawson commented on #79
Hi everyone, sorry for the radio silence on this issue. I think this might actually be a bug in the PouchDB replication algorithm; I suspect it's the same issue as https://github.com/pouchdb/pouchdb/pull/5055.

I will push a release to PouchDB, then update this package's dependency version, and then we'll cross our fingers and hope it doesn't come up again. If if does, I have a local installation

[2016-04-20 12:20] nolanlawson commented on #118
Huh, that's weird! Thanks for the report; I will try to look into this when I get a chance.

[2016-04-20 12:21] nolanlawson commented on #115
I think this would involve supporting the `_design` docs from the main skimdb CouchDB, but I admit I haven't deeply looked into it yet.

[2016-04-20 12:23] nolanlawson commented on #112
Thanks for the issue! I actually never intended local-npm to be a sinopia replacement, although it's been a much-requested feature. I plan on continuing to develop local-npm exactly as it is (a dumb mirror in front of npm), but I encourage anybody to fork the codebase and learn from what I did in order to make their own sinopia. :)

As it turns out, I think local-npm's approach has some huge advan

[2016-04-20 12:23] #112 closed

[2016-04-20 12:24] nolanlawson commented on #103
Closing as duplicate of #79. This may be a bug in PouchDB actually. I've run into the same thing, looking to update PouchDB to fix.

[2016-04-20 12:24] #103 closed

[2016-04-20 12:24] jgog commented on #79
@nolanlawson sounds like a plan! 🤘

[2016-04-20 12:25] nolanlawson commented on #88
Actually I do check for `http://registry.npmjs.com` as well. :)

[2016-04-20 12:26] nolanlawson commented on #90
It's a `leveldown-prebuilt` issue, probably related to the architecture you're running on. Try clearing out the npm cache and installing again. Sorry about that!

[2016-04-21 12:41] nolanlawson commented on #79
PouchDB 5.3.2 is now out. OSX users: if you could please upgrade using:

[code]

Please re-test and let me know if this issue comes up again.

[2016-04-21 13:53] mlegenhausen commented on #79
Thanks will give a try

[2016-04-30 16:00] quarterto commented on #118
I'm encountering this too. I've reported npm/npm#12533 in case it's an npm issue (since I've been encountering it using the normal registry too).

[2016-05-02 01:20] nolanlawson commented on #118
I can repro

[2016-05-02 09:06] mlegenhausen commented on #79
Feedback after 11 days still in sync.

[2016-05-02 14:16] mattkrick commented on #79
all good on my end, too. i'll close for now to keep the issue tracker clean. big thanks to @nolanlawson for fixing this bug that was nearly impossible to reproduce!

[2016-05-02 14:16] #79 closed

[2016-05-02 20:38] nolanlawson commented on #79
Yup, still in sync for me too. Please reopen if it's still an issue, but otherwise it looks like the fix was on the PouchDB side of things.

[2016-05-04 04:34] TehShrike opened #119 "Node 6.0.0 error: "Module version mismatch. Expected 48, got 47""
I don't have any particular clue here.

[code]

[2016-05-04 19:07] nolanlawson commented on #119
This seems to be an issue with leveldown. Typically these problems can only be resolved by uninstalling `local-npm` and then reinstalling it. (Especially after you upgrade node/npm.)

Let me know if that helps!

[2016-05-04 19:07] #119 closed

[2016-05-06 12:59] johnrayner commented on #36
I'm behind an authenticating proxy server which terminates all SSL connection itself, and I have the same issue.  If there a way to specify proxy server URL and a flag to allow ignore SSL errors caused by a self-signed cert being used?

[2016-05-08 01:34] mralexgray opened #120 "Add support for "downloads" metadata."
Download **counts**, _that is_.

_Personally_, I wouldn't mind if the data was infrequently updated, stale even.

There's plenty of ways to do it..

Am happy to put in my 2 cents if the concept is amenable.

[2016-05-10 14:34] TehShrike commented on #119
I tried uninstalling and reinstalling.  I got some warnings on install:
[code]

And then these errors when I tried to launch:

[code]

node 6.0.0, npm 3.8.6.

[2016-05-11 04:42] tonidy commented on #79
I just ran into this issue on Windows 10 with [balance-match](https://www.npmjs.com/package/balanced-match) package. Local-npm has 0.4.0 but in npmjs the latest version is 0.4.1

I have checked local-npm version and it was latest version (1.5.8). My problem have solved with delete skimdb and reinstall local-npm. I think local-npm should have some option to push metadata from registry to specific m

[2016-05-11 07:51] nolanlawson commented on #79
Can you tell me which version of PouchDB it's using? My assumption about this bug being fixed was based on PouchDB being updated to the latest version. (5.3.2)

[2016-05-11 09:24] nolanlawson commented on #119
Those look like node/npm errors. I do know that PouchDB currently does not support Node 6, so that's probably what you're running into. You may need to completely reinstall from scratch and `npm cache clean` as well.

[2016-05-11 09:25] nolanlawson commented on #120
I believe this is covered by https://github.com/nolanlawson/local-npm/issues/46, so closing as a dup, but please let me know if I misdiagnosed.

[2016-05-11 12:45] tonidy commented on #79
Current version of PouchDB,

[code]

Let's me see if this issue still happen or not. Thanks

[2016-05-13 15:04] ofbeaton opened #121 "node6 causes pages of deprecation warning stacktraces"
When starting `local-npm` I get several pages of stack traces due to several deprecation warnings for node6. This is a frist run after a clean install, with no custom configuration specified. It appears to start OK after the output.

My versions:

[code]

and here's the output:

[code]

[2016-05-15 14:00] nolanlawson commented on #121
PouchDB does not work in Node 6. In fact Node 6 has broken lots of packages.

[2016-05-16 21:08] skinnybrit51 commented on #54
This does not work for me. All other npm packages are fine for connectivity behind work proxy.

[2016-05-17 00:34] skinnybrit51 commented on #36
Experiencing the same issue.

[2016-05-17 02:05] wusisu opened #123 "[enhancement]shasum error. Because is not compatible with cnpmjs."
## problem

It occurs "shasum check failed" error.
the whole sentence is

[code]

and the `cat ....koa-static/1.5.2.tgz` is

[code]
## why

This error comes by setting a [cnpmjs](https://github.com/cnpm/cnpmjs.org) repository as a "--remote" fullfatdb.
It may be because of the different strategy of the url for downloading.
## fix

I think this is a lack function more than a bug.
And have no idea b

[2016-06-26 22:09] mralexgray commented on #120
@nolanlawson I'm not quite sure how #46 manifests itself, day-to-day..  but it doesn't seem related to this issue, at all, as far as i can tell..  no?

[2016-06-26 22:55] nolanlawson commented on #120
#46 contains the "view" logic, which is what npm uses to generate these counts (I believe).

[2016-06-28 17:49] lidakis commented on #119
TehShrike I have a working solution for you.
I had exact the same problem as you and I found out the following.

If you use pouchdb in node like this   var PouchDB = require('pouchdb'); the npm package is not updated to the latest version of pouch db code.

solution:
1) Go to node_modules/pouchdb/lib/index.js
2) Open that file.
3) Then go [here ](https://cdn.jsdelivr.net/pouchdb/5.4.4/pouchdb.js)

[2016-06-28 19:10] TehShrike commented on #119
hmm, if PouchDB is reinstalled entirely, it should download PouchDB 5.4.4 https://github.com/nolanlawson/local-npm/blob/master/package.json#L36

[2016-06-30 10:51] lidakis commented on #119
Of course, I had exact the same issue and for some reason, the code in this file was different that the latest version of pouchdb, even if I had the version 5.0.0 in package.json referred.
And note that was after a whole new build of npm, node, e.t.c.
Sometimes shit happens, with all different and compatible versions between all those things ;)

And make sure that there is any other import of pouc

[2016-07-07 21:12] nrutman opened #124 "Github packages not cached?"
I love this project. But I do have a question: most of my packages are from npm, but a few are from Github...via something like this in `dependencies`:

[code]

Is there a way for `local-npm` to cache these requests as well? Right now, these requests are still trying to fetch from Github, making an offline install impossible.

Any ideas? Thanks!

[2016-07-10 20:06] nolanlawson commented on #124
Sorry, no, there is no way. By design it's supposed to always fetch the latest version from Git.

[2016-07-10 20:06] #124 closed

[2016-07-11 17:04] nrutman commented on #124
@nolanlawson, yeah, I didn't know if this was a possibility or not. Thanks for the reply.

[2016-08-11 20:26] jtlindsey commented on #119
@lidakis I just did a `npm install --save pouchdb` on a new electron project and had the same issue. Then I used your solution but grabbed the current version of pouchdb that [mached](https://cdnjs.cloudflare.com/ajax/libs/pouchdb/5.4.5/pouchdb.js) my package.json `"pouchdb": "^5.4.5"` and it worked.

Im on Linux using
[code]

[2016-08-12 09:30] despairblue opened #126 "Does not sync react-measure@0.5.0"
![screenshot from 2016-08-12 11-28-43](https://cloud.githubusercontent.com/assets/927609/17618449/227bda50-6080-11e6-94b4-97df2cff36ed.png)

Happens on my computer and on our CI server.

[2016-08-22 05:51] wmhilton commented on #126
I'm having similar trouble. I noticed just a few days ago that the 'now' package is out of sync. (Only noticed because when I tried running it, it refused, saying to update to the latest version.)

[code]

@nolanlawson is there a quick and dirty solution to making local-npm loose its cache for these modules?

[2016-08-22 05:54] wmhilton commented on #110
fixed in #125

[2016-08-22 06:09] wmhilton commented on #126
Is this related to #2?
p.s. I know this module is officially un-maintained as of #122. Let me know if you'd rather I start a fork than make a pull request if I figure this one out.

@despairblue are you using local-npm in a hobbiest or a company setting? I thought I was the only one crazy enough to keep using this module :)

[2016-08-22 16:38] #110 closed

[2016-08-23 01:02] nolanlawson commented on #126
@wmhilton No, you would have to stop local-npm, delete its files, and restart it.

This bug should have been solved in the latest version of PouchDB. If you're still running into it, then that's very troubling.

[2016-08-23 12:21] despairblue commented on #126
@wmhilton

We went back to use `npm --cache-min=Infinity` since works reliably with the latest npm. I don't have the resources at the moment investigate this properly or fix it, since it does not affect me anymore nor the company that I work for.

But we did use it in production and it worked fine otherwise :smiley:

[2016-08-23 19:59] wmhilton commented on #126
@nolanlawson Alrighty, I cleared out the directory, let it re-sync, and now it sees the updated package version. Maybe it won't happen ever again! :grinning: Certainly don't let it trouble you.

[2016-08-23 20:03] wmhilton commented on #126
@despairblue Can you try stopping local-npm, deleting the data files, and restarting it? Or do you not have it running anymore? I'm just wondering if it's safe to mark this resolved.

[2016-08-24 15:56] despairblue commented on #126
@wmhilton I removed it locally and from out CI server, sry :disappointed:

[2016-08-24 15:56] #126 closed

[2016-08-26 00:22] zeke commented on #114
I just got a 401 trying to star something. @nolanlawson how hard would it be to forward all non-`install` commands to the official npm registry?

[2016-08-26 20:09] nolanlawson commented on #114
I thought we were already doing that, but it seems there's a bug somewhere.

[2016-08-30 23:48] ivanwills opened #129 "A way to cause a resync of modules that have changed while local-npm has been offline"
It would be good if there was a way to get local-npm to re-sync with the up-stream registry if local-npm wasn't running when that module changed (ie didn't get the event for the change)

[2016-09-02 15:34] nolanlawson commented on #129
If it gets out-of-sync, then that's a straight-up bug. PouchDB should handle this correctly. Can you do a `npm ls -g` and see which version of PouchDB you have installed along with `local-npm`?

[2016-09-23 02:43] tomchentw commented on #129
I'm experiencing the same issue with `local-npm@1.6.0` and `pouchdb@5.4.5`. I love `local-npm` and it really speeds up my development time, but this sync issue is quite annoying.

[2016-09-28 21:33] fivetanley commented on #129
I have hit this also. @nolanlawson I know the project is unmaintained but if you have any place I could look in the local PouchDB servers for debugging info I'd appreciate it.

[2016-09-29 01:15] nolanlawson commented on #129
If anyone can track this down and repro it consistently, that would be awesome. I fear it's an issue in PouchDB sync itself that only crops up in heavy use situations such as local-npm. Either that or it's an issue with npm's skimdb server, which is using an old fork of CouchDB afaik.

[2016-10-14 18:35] DimitryDushkin commented on #79
Same for min-document. Current version 2.19.0, but skimdb has only 2.18.0

[2016-10-19 06:42] skelso01 commented on #89
I know this Task is closed, but I installed local-npm and get the error on build machines, which uses the local-npm Server in our Network. First it works fine. But after half a day I got this problem. Can anybody help me to get this work?

[2016-11-17 09:09] shivamindalkar opened #130 "Error: Module version mismatch. Expected 48, got 47"
Error: Module version mismatch. Expected 48, got 47.
  at Error (native)
  at Object.Module._extensions..node (module.js:597:18)
  at Module.load (/home/hp/tnex/pollinate-v4/ui/tasks/node_modules/coffee-script/lib/coffee-script/register.js:45:36)
  at tryModuleLoad (module.js:446:12)
  at Function.Module._load (module.js:438:3)
  at Module.require (module.js:497:17)
  at require (internal/module.j

[2017-01-10 21:15] agwells opened #131 "TypeError: requestsById[request.id].push is not a function"
I understand this project is no longer actively maintained. I'm just posting this bug report here in case any other users of this project might be able to suggest a fix. :)

I installed and ran local-npm yesterday and it worked fine. Then this morning when I tried to launch it I got this error message:

[code]

npm: 2.15.9
node: 4.6.1
local-npm: 1.6.0

From the stack it looks like it's an issue re

[2017-01-10 21:18] agwells commented on #131
Update: The quick, dumb fix, was to just delete all the files local-npm created in the directory where I was running it. But I assume that means that all the data it cached has now been cleared out, and it'll have to re-download a bunch of stuff.

[2017-01-20 16:02] byoigres commented on #131
I had the same issue and I just reinstalled local-npm and it worked again.

[2017-02-02 22:26] Shaviest commented on #131
I had the exact same problem, and found a possible solution.

I've changed index.js@248 from:
``
if (request.id in requestsById)
``

to
``
if ((request.id in requestsById) && (Array.isArray(requestsById[request.id])))
``

Look like the object requestsById sometimes didn't hold the expected Array.

[2017-03-02 03:58] aminkamaldev commented on #131
thank you Shaviest it's work for me after the change in index.js

[2017-05-17 23:28] gabrielcsapo commented on #131
@Shaviest would you be interested in opening a PR for that fix?

[2017-05-17 23:29] gabrielcsapo opened #133 "upgrade tests"
tests need to be upgraded to be more encompassing and run without being executed by shell.

[2017-05-18 17:45] Shaviest commented on #131
@gabrielcsapo actually I don't know how, since the fix has to be made to one of the node modules (pouchdb)  and not to local-npm itself.

[2017-05-18 17:55] gabrielcsapo opened #134 "project direction"
let's use this as a forum for what the community thinks the direction of this module should be.

[2017-05-18 17:56] gabrielcsapo commented on #134
I think the first thing that has to be done is groom the issues and see what is a valid feature add or if it is stale and already completed.

[2017-05-18 17:57] gabrielcsapo commented on #130
@shivamindalkar this usually happens when you switch node versions after you have built c++ binaries using another node engine. IE moving from node 4 to 6. A simple way to fix this is to run `npm rebuild`

[2017-05-18 17:57] #130 closed

[2017-05-18 18:02] gabrielcsapo commented on #131
I cross posted the issue in pouchdb hopefully we can get some momentum from that project to help us fix this.

[2017-05-18 18:16] gabrielcsapo commented on #111
@millette are you interested in still fixing this bug?

[2017-05-18 18:18] gabrielcsapo commented on #111
This issue seems to longer exist, please reopen if you see otherwise.

[2017-05-18 18:18] #111 closed

[2017-05-18 18:20] gabrielcsapo commented on #47
@pacav69 is this still a valid tip?

[2017-05-18 18:22] gabrielcsapo commented on #30
This seems to be a solved feature request, please reopen another issue if features were missed.

[2017-05-18 18:22] #30 closed

[2017-05-18 18:41] gabrielcsapo commented on #113
@gajus I updated the config as per your prescribed fix here https://github.com/local-npm/local-npm/pull/135 can you look over and see if this works for your use case also?

[2017-05-18 18:58] #113 closed

[2017-05-18 19:27] gabrielcsapo commented on #114
@zeke @gajus can you verify that this was fixed in https://github.com/local-npm/local-npm/pull/136?

[2017-05-18 19:32] #114 closed

[2017-05-18 21:10] gabrielcsapo commented on #120
@mralexgray would you like to discuss this issue further. I feel like it would be a good feature add to the project.

[2017-05-18 21:15] gabrielcsapo opened #137 "move to react?"
thoughts on moving the project to react or something similar to simplify the front-end code base?

[2017-05-18 22:58] gabrielcsapo commented on #121
fixed in https://github.com/local-npm/local-npm/commit/544d0fea1fa3c2c2479dabd5b2137778715c8bd4

[2017-05-18 22:58] #121 closed

[2017-05-18 23:01] gabrielcsapo commented on #106
@IngwiePhoenix does this issue still persist?

[2017-05-18 23:02] gabrielcsapo commented on #123
@wusisu does this issue still persist?

[2017-05-18 23:04] pacav69 commented on #47
@gabrielcsapo  i believe so, i'm not in china any more so i'm unable to confirm.
'

[2017-05-18 23:05] gabrielcsapo commented on #26
@calvinmetcalf could you elaborate on this issue?

[2017-05-19 01:49] wusisu commented on #123
I think that may be my wrong expectation about how to use local-npm with --remote and --remote-skim.

A fast npm registry mirror here in China is https://registry.npm.taobao.org/ , which is built by [cnpmjs](https://cnpmjs.org/).
And It provide no skim-db, so I try to run local-npm by
[code]

I run `npm install 1grids` with this registry and it return errors:
[code]

while
[code]

----------------

[2017-05-19 01:54] wusisu commented on #123
When I `curl http://192.168.0.48:5080/tarballs/1grids/4.0.6.tgz`
console on local-npm prints as follows:
[code]

---------------

Thanks for help.

[2017-05-19 02:44] gabrielcsapo commented on #123
@wusisu okay this seems like a valid bug because the tar never gets downloaded because the forwarded url is `https://registry.npm.taobao.org/tarballs/1grids/4.0.6.tgz` which returns `{"error":"not_found","reason":"document not found"}` looking at a possible solve for this.

[2017-05-19 03:01] gabrielcsapo commented on #123
@wusisu okay the issue was here (https://github.com/local-npm/local-npm/blob/master/lib/index.js#L109) because it makes assumptions of where the tarball should be here (https://github.com/local-npm/local-npm/blob/master/lib/index.js#L222).

So I made a change that if it reaches line 222 meaning that it needs to go get the tar from the source repository it will go and fetch the info so now it looks

[2017-05-19 03:10] gabrielcsapo commented on #123
The real issue here is that we assume the location of the tarball when the location can change depending on the registry.

[2017-05-19 03:16] gabrielcsapo commented on #123
@wusisu would you be able to pull down the changes in https://github.com/local-npm/local-npm/pull/139 and see if it fixes the issue you were seeing?

[2017-05-20 15:07] #123 closed

[2017-05-21 16:33] wmhilton commented on #137
I vote for either React or Vue. I *really* struggled to understand enough how to edit the front-end to make some minor changes. (And not just this project - any Angular project I've tried to hack on. And I've even spent a few hours trying to familiarize myself with Angular.)

[2017-05-21 16:54] gabrielcsapo commented on #137
I really like react, it has been super helpful on a ton of projects. Do you have any ideas for UI tweak @wmhilton? I think we should mirror a lot of what npmjs.org looks like, they seem to have gotten what is useful information down to a science!

[2017-05-22 03:18] wusisu commented on #123
It works for me now.

The situation is much more simple than I thought. 233333
Thanks a lot.

[2017-05-22 03:35] gabrielcsapo commented on #123
@wusisu I will publish a patch version tomorrow, thanks for your help!

[2017-05-22 16:24] gabrielcsapo commented on #53
@omgimalexis do you have recent thoughts on this issue?

[2017-05-22 16:43] OmgImAlexis commented on #53
I use yarn now so I don't really have any use for this. I went through and closed 100+ issues I had opened. I just reopened this as I noticed you had added tags only a few days ago.

[2017-05-22 17:26] gabrielcsapo commented on #53
@OmgImAlexis yarn still uses npm registries right?

[2017-05-23 03:04] wmhilton commented on #137
Oh, I don't think a slavish copying of npmjs.org is necessary. Honestly, a lot of the information they put at the very bottom (dependencies & dependents) is what I find most useful. And... well here lemme just put on my super critical hat.

![image](https://cloud.githubusercontent.com/assets/587740/26335696/b05eea52-3f3b-11e7-9449-de00fe085414.png)

First go at "improving" it by emphasizing the bi

[2017-05-23 03:12] wmhilton commented on #137
Hey, so the [Yarn website](https://github.com/yarnpkg/website)'s website is actually open source. It looks like a pretty straightforward application of React, Bootstrap, and jQuery.

[2017-05-23 03:25] wmhilton commented on #137
I spoke too soon. It's got that, but also ruby on rails or jekyll or something. `npm start` just compiled some files, no visible sign of the webpage itself.

[2017-05-23 04:24] OmgImAlexis commented on #53
Yes it does but it also heavily caches stuff. I'm not sure if two caches is really going to be of any benefit.

[2017-05-23 06:29] gabrielcsapo commented on #53
@OmgImAlexis thanks for the info! I think I will close this issue, unless other people using this are experiencing this problem. Right now I am getting speeds sub 50 ms from the cache.

[2017-05-23 06:29] #53 closed

[2017-05-23 06:33] gabrielcsapo commented on #137
@wmhilton really awesome work showing what information is valuable.

I like the yarn site, simple and elegant. I'm not a big material UI fan, but I have been working on this http://www.gabrielcsapo.com/psychic-ui/ and use it in a bunch of projects. It has the same properties of being simple like the yarn site.

I like the use of all of the screen real-estate as seen below;

<img width="1346" alt="

[2017-05-24 04:21] #133 closed

[2017-05-24 04:28] gabrielcsapo commented on #134
@whmilton what do you think?

[2017-05-24 04:36] gabrielcsapo commented on #118
@quarterto can you reproduce with the current code? I am trying to publish large modules (2gb >) to npm and am not seeing an issue with republishing.

[2017-05-24 04:36] gabrielcsapo commented on #118
🙈 sorry clicked the wrong button

[2017-05-24 04:41] gabrielcsapo commented on #131
looks like this was fixed by simply updating pouchdb.

[2017-05-24 04:41] #131 closed

[2017-05-25 19:40] megamindbrian opened #144 "Error: connect ECONNREFUSED 127.0.0.1:5080"
I am trying to use npm a part of Docker, is there a way to get npm to not resolve to localhost and the full domain name of my machine instead?

[2017-05-25 21:12] gabrielcsapo commented on #144
@megamindbrian can you specify your environment you are running in?

[2017-05-26 18:51] #120 closed

[2017-05-28 18:29] wmhilton commented on #134
@gbarielcsapo I think you're doing a great job!

[2017-05-28 18:34] wmhilton commented on #144
Hey @megamindbrian ! Just to clarify, this is the `local-npm` registry server, not the actual [npm](https://github.com/npm/npm). With that said, assuming you are trying to run `local-npm` in docker, I'd suggest trying the instructions I made [here](https://github.com/wmhilton/modserv#run-as-a-docker-container-prefered-method) for `modserv`. (`modserv` is a fork of `local-npm` but is in the process

[2017-05-28 18:40] wmhilton commented on #118
I did not even realize you could proxy publishes through `local-npm`. I've always manually specified the registry with the command line flag or used Travis to publish.

[2017-05-28 20:05] megamindbrian commented on #144
Running a build inside of docker. I fixed it by combining this package with
npm-proxy-server package.

On May 25, 2017 2:14 PM, "Gabriel Csapo" <notifications@github.com> wrote:

[2017-05-28 20:12] gabrielcsapo commented on #144
@megamindbrian would you be able to provide that information here so we can update the wiki or readme as a way to do that! 😄

[2017-05-28 20:31] megamindbrian commented on #144
I don't know if this is a common use case, but I was tired of my Docker
images taking so long.

https://www.npmjs.com/package/npm-proxy-cache

Maybe you can combine forces with this project and offer a proxy in
addition to the nice PouchDB features?

The part that makes local-npm and npm-proxy-cache feel kind of hacky is
inside a Docker build.

[code]

On Sun, May 28, 2017 at 1:12 PM, Gabriel Csap

[2017-05-28 20:34] megamindbrian commented on #144
Also the docs only refer to localhost, but I could see this as an in office
package data store.  Sounds like M$ is moving to Github instead of TFS,
might be a good time to prove how much better npm is by joining forces with
a SaaS?  (Service-as-a-service?)

On Sun, May 28, 2017 at 1:31 PM, Brian Cullinan <megamindbrian@gmail.com>
wrote:

[2017-05-29 04:47] gabrielcsapo commented on #144
@megamindbrian thank you for your insight into the problem 😄

I just started maintaining with @wmhilton and we are looking to bring the project back up to speed.

I see npm-proxy-cache was made by @runk, would you be able to maybe give some direction into seeing how these two projects can merge into one?

@megamindbrian what do you mean by joining forces with a SaaS? Do you mean a hosted version o

[2017-05-29 04:47] gabrielcsapo commented on #134
@wmhilton you rock man! 😄

[2017-05-29 04:48] gabrielcsapo commented on #118
@wmhilton yeah it acts as a pass through service when it does that #144 makes a suggestion that this is flawed and we should move to be more a replacement for npm instead of as a reverse proxy with caching. Right @megamindbrian, because I like that idea 😄

[2017-05-31 07:05] #137 closed

[2017-06-07 15:12] burjua opened #146 "Issue with scoped packages"
Seems like the package is maintained again, but the issue with scoped packages still exists.

Obvious culprits are @angular or @ng-bootstrap, e.g. I'm getting this error while trying to install a package:

[code]

[2017-06-07 17:07] gabrielcsapo commented on #146
@burjua so the problem exists when requesting `http://web-dev-08-zz:5080/@ng-bootstrap%2fng-bootstrap` what does this respond when you do a normal get via your browser or curl?

[2017-06-08 05:28] gabrielcsapo commented on #146
@burjua I added a fix here https://github.com/local-npm/local-npm/pull/147, would you mind taking a look and seeing if this fixes the problem you were seeing?

[2017-06-08 10:16] burjua commented on #146
@gabrielcsapo thanks for adding the fix. It's not published to the npm repository though, is it? How do I install and test it?

[2017-06-08 17:09] gabrielcsapo commented on #146
I added a comment to the PR.

[2017-06-08 17:09] gabrielcsapo commented on #146
@burjua

[2017-06-09 09:38] burjua commented on #146
Hi @gabrielcsapo , thanks for your help, my setup is a bit complicated and I don't know npm configuration that well so it's hard to test and verify it's working.
I installed local-npm globally, started it and run "npm set registry http://127.0.0.1:5080"

However I have this in my C:\Users\\[username]\\.npmrc:
[code]

Am I right to assume that only non-scoped packages will be cached by local-npm an

[2017-06-09 17:28] gabrielcsapo commented on #146
You will know that the package is cached when you do an `npm install` and it will not proxy to the public registry.

The update stores both scoped and non-scoped packages.

When you say;

[code]

Do you want use `npm-local` as a multi tenant system? This seems very simple, you can access it from anywhere in the network 😄

[2017-06-09 17:28] #146 closed

[2017-06-09 17:30] gabrielcsapo commented on #146
@burjua I have merged can you try reinstalling and seeing if the scoped-modules problem exists?

[2017-06-12 07:18] gabrielcsapo commented on #129
@fivetanley have you been able to reproduce this with `local-npm@^2`?

[2017-06-16 01:35] gabrielcsapo commented on #106
I am not seeing this issue with the current master branch

[code]

[2017-06-16 01:44] gabrielcsapo commented on #108
@ryan-kimber would you be interested in submitting a PR for this functionality?

[2017-06-16 01:55] gabrielcsapo commented on #64
seeing this problem as a problem with the shasum hash now

[code]

[2017-06-16 01:57] gabrielcsapo opened #150 "make remoteSkim configurable"
Remote skim should not be a necessary string, if it is not given or wanted, packages should be stored on local-npm as a primary node, instead of `https://registry.npmjs.org`.

[2017-06-16 01:59] gabrielcsapo opened #151 "make main page a landing page instead of a default search list"
## Detailed Description
The main page is a default search list with the first 10 modules.

## Context
It is unnecessary to load the first 10 results as it could be used as an introduction page instead of a search list.

[2017-06-16 04:25] gabrielcsapo opened #152 "terminal output is chatty"
## Detailed Description
The terminal output has too much stuff going on, we should use https://github.com/sindresorhus/log-update to only show the needed information on the terminal window.

[2017-06-19 16:17] megamindbrian commented on #144
Sorry.  Just seeing this.  Yes, I meant the scenario in a corporate
environment where many devs could be retrieving packages from a cached but
updated local-store.  I am not sure what features are missing between
local-npm and npm-proxy-cache, I just know that I needed both in order to
use a proxy inside the Docker build process.  It wouldn't connect when to
local-npm unless I also set the NPM pro

[2017-06-19 18:22] gabrielcsapo commented on #144
@megamindbrian yeah I totally agree this is a valid scenario. I am seeing valid proxy abilities in local-npm https://github.com/local-npm/local-npm/blob/master/lib/index.js#L72 would you be able to help figure out the feature parity that is needed to achieve what you are asking? 😄

[2017-06-19 18:29] megamindbrian commented on #144
I'll check that out maybe I missed that configuration.

On Jun 19, 2017 11:22 AM, "Gabriel Csapo" <notifications@github.com> wrote:

[2017-06-19 18:36] gabrielcsapo commented on #144
@megamindbrian thank you!

[2017-06-28 02:24] gabrielcsapo commented on #144
@megamindbrian did you ever get the issue resolved with the proxy abilities?

[2017-06-28 04:29] gabrielcsapo opened #154 "issues when publishing a module on remote npm and not being able to see it from local-npm"
## Detailed Description
When a module is published in the remote npm repository and you try to install that version you will get

[code]

## Possible Implementation
A possible solution is when installing a module `local-npm`, if it has that module cached, can go and retrieve a document from the remote npm and cache the new one.  (this should be discussed further because this will cause issues with

[2017-06-30 21:04] paxinos commented on #144
I'm not sure if this is a similar or related issue.   I am not user Docker.   But both machines are runing MacOSX.    I've setup local-npm on one machine and started it as:

`local-npm --url http://192.168.5.199:5080`

And, yes, that is the IP of that server.   On another server I've done:

`npm set registry http://192.168.5.199:5080`

and then tried something simple like this on that server:

`np

[2017-07-01 01:32] gabrielcsapo commented on #144
@paxinos --url is set as the entry point to local-npm

```var localBase = options.url.replace(/:5080$/, ':' + port); // port is configurable```

what you want to set is --remote which will use the upstream correctly.

If you are meaning to set the url of local-npm you are doing it correctly, but it doesn't look like you set the registry correctly because `npm set registry http://192.168.5.199:5080

[2017-07-03 01:03] megamindbrian commented on #144
Sorry, haven't have a chance to retest.  Been busy.  I'll hopefully get to
it this week.  If there are proxy options that should solve it, probably
would highlight that on the Readme.

On Fri, Jun 30, 2017 at 6:32 PM, Gabriel Csapo <notifications@github.com>
wrote:

[2017-07-03 04:19] gabrielcsapo commented on #144
@megamindbrian

This is the entry on the README, not sure if this is as complete as needed.

<img width="1035" alt="screen shot 2017-07-02 at 9 18 36 pm" src="https://user-images.githubusercontent.com/1854811/27777924-0a57498c-5f6c-11e7-97f8-d2ddedb2ccdd.png">

[2017-07-03 15:40] paxinos commented on #144
Ok, what I'm trying to do is to use a local machine '192.168.5.199' as a
local npm caching proxy.    Primarily this is to allow me to install and
update npm packages on other machines when offline  (I will make sure the
packages are in the cache before going offline.)

Going by the instructions in 'protip 2', I used
     'npm --url http://192.168.5.199:5080' on the local server.

Per your email, I

[2017-07-03 15:42] paxinos commented on #144
BTW, just to be complete -

Apotheosis:~ pax$ sudo npm set registry http://192.168.5.199:5080

Apotheosis:~ pax$ npm i -g npm

npm ERR! code ECONNREFUSED

npm ERR! errno ECONNREFUSED

npm ERR! FetchError: request to http://127.0.0.1:5080/tarballs/npm/5.0.4.tgz
failed, reason: connect ECONNREFUSED 127.0.0.1:5080

npm ERR!     at ClientRequest.req.on.err
(/usr/local/lib/node_modules/npm/node_modules

[2017-07-03 17:44] gabrielcsapo commented on #144
@paxinos, can you verify the version of local-npm? please 😊

[2017-07-03 17:52] paxinos commented on #144
2.0.1

pulled from GitHub

theosis:npm pax$ local-npm --help

Options:

  -h, --help         this help message
[boolean]

  -p, --port         port                                        [default:
5080]

  -P, --pouch-port   pouchdb-server port                        [default:
16984]

  -l, --log          error|warn|info|debug                     [default:
"info"]

  -r, --remote       remote full

[2017-07-03 19:00] gabrielcsapo commented on #144
let me look at creating a test case for this to replicate the behavior

[2017-07-07 06:04] gabrielcsapo commented on #26
we should definitely be able to set sync interval, even be able to turn syncing off and just act as a passthrough.

[2017-07-11 23:35] paxinos commented on #144
Greetings,

Just checking if you've had any time to look into this.

Thanks,
pax.

http://www.siggraph.org/~pax/
http://www.linkedin.com/in/garrypaxinos

*ΓΝΩΘΙ ΣΑΥΤΟΝ*

"The real voyage of discovery consists not in seeking new landscapes but in
having new eyes." -Proust

"Wherever you go, go with all of your heart" -Confucius

On Mon, Jul 3, 2017 at 3:00 PM, Gabriel Csapo <notifications@github.co

[2017-07-11 23:57] megamindbrian commented on #144
I'll do it right now.

On Tue, Jul 11, 2017 at 4:35 PM, Garry M. Paxinos <notifications@github.com>
wrote:

[2017-07-12 02:06] megamindbrian commented on #144
Here is a working scenario:

[code]
RUN local-npm && \
    npm set registry http://... && \
    npm set proxy .... && \
    npm install some packages etc ...
[code]
local-npm --url=http://<network host or ip>:5080
[code]
RUN npm config set proxy http://<network host or ip>:5080
RUN npm config set proxy http://<network host or ip>:5080
RUN npm config set registry http://<network host or ip>:5080
RU

[2017-07-12 02:13] megamindbrian commented on #144
I bet this is something @heroku could use to speed up build times on "buildpacks"

[2017-07-12 02:25] gabrielcsapo commented on #144
@megamindbrian looks good to me, PR would be awesome!

[2017-07-15 04:16] gabrielcsapo commented on #152
fixed https://github.com/local-npm/local-npm/pull/156

[2017-07-15 04:16] #152 closed

[2017-07-15 04:18] #47 closed

[2017-08-10 10:05] Elitward opened #158 "install failed on both Ubuntu & Win10"
[2017-08-10T08_56_41_015Z-debug.zip](https://github.com/local-npm/local-npm/files/1214486/2017-08-10T08_56_41_015Z-debug.zip)
Try to install local-npm on new machines, both Ubuntu & Win10 Pro, both failed. Looks like same reason.

Win 10:
node -v = 8.2.1
npm -v = 5.3.0

Error message from CMD terminal:

C:\>**npm install -g windows-build-tools**

Downloading BuildTools_Full.exe
Downloading python-

[2017-08-10 10:10] Elitward commented on #158
Ubuntu Error Message:

[linux-terminal-error.zip](https://github.com/local-npm/local-npm/files/1214494/linux-terminal-error.zip)

[2017-08-10 15:30] wmhilton commented on #158
I don't know if this will fix it, but here is some information that might help!

The Ubuntu install failed because you tried to install a package globally without sudo permissions:

[code]

The next attempt failed because `node` wasn't available in the PATH. Probably easily resolved by logging out and logging back in again.
[code]

Frankly I have always had a *terrible* time installing Node with U

[2017-08-12 06:33] gmastergreatee commented on #158
node -v = 8.2.1
npm -v = 5.3.0

Failed for Windows 8 too :-

[code]

[2017-08-12 18:35] gabrielcsapo commented on #158
It seems like a problem with leveldown, does it occur for earlier versions of leveldown? @elitward @gmastergreatee

[2017-08-12 18:54] Elitward commented on #158
I have the same feeling. leveldown is the reason.

On Sat, Aug 12, 2017 at 11:35 AM, Gabriel Csapo <notifications@github.com>
wrote:

[2017-08-14 02:01] gabrielcsapo commented on #158
@Elitward @gmastergreatee @wmhilton might be a good time to move something like https://github.com/zkat/cacache, instead of a c++ cache, this could do the trick!

[2017-08-14 03:41] gmastergreatee commented on #158
@gabrielcsapo There are no problems installing the latest version(1.7.2) of leveldown. The problem exists because the current package tries to install an older version(1.5.0).

[2017-08-14 03:51] gmastergreatee commented on #158
Possible fixes may include updating the __"pouchdb"__ version in the __"package.json"__ file. The current version included(6.2.0) has a dependency on leveldown(1.5.0<-- root of the problem) whereas the latest version of __"pouchdb"__(6.2.1-prerelease) has updated dependency of leveldown(1.7.2).

[2017-08-14 07:24] gabrielcsapo commented on #158
@gmastergreatee I am going to hold off for a "fix" until pouchdb is released into their stable release cycle. @nolanlawson do you have a timetable for that main release? `6.2.1`

[2017-09-17 18:57] MichaelJCole commented on #84
Hey, ran into this.  Is there a workaround?  Seems like deleting local-npm's database and resyncing is the best option, but ... well ...  I'm limited in my bandwidth at the moment.

[2017-09-18 00:10] gabrielcsapo commented on #84
@MichaelJCole in order to delete from pouch, you have to set an admin user account up and then log in via that to delete

[2017-09-18 00:37] MichaelJCole commented on #84
@gabrielcsapo hey, I think I ran into this because I did an `npm install` before clicking the "accept free wifi" button at a bigbox wifi spot.  Anyways, is there an easy way to clear the cashed tgz for a package?  I think this bug should be reopened to have local-npm drop the incorrectly cached file automatically.

[2017-09-18 00:45] gabrielcsapo commented on #84
@michaeljcole if you could open a new issue we can track the bug there. We would need to be able to reproduce that problem and determine if we can use headers the client sends to the server to resolve cache problems

[2017-09-18 19:36] gabrielcsapo commented on #84
@MichaelJCole this also a flaw in the caching as it does inspect the headers to validate source

[2017-09-19 00:00] MichaelJCole opened #160 "Discard cache if invalid. Check source before caching."
Hi there,

This bug is related to: #84

The error symptom is:

GET http://127.0.0.1:5080/tarballs/base64id/0.1.0.tgz -> {"error":"hashes don't match, not returning"}

The expected state is:

GET http://127.0.0.1:5080/tarballs/base64id/1.0.0.tgz -> (downloads tgz)

**The workaround is to delete the database and resync (lots of data and several days.  Difficult to do "offline")**

My best guess to a

[2017-09-23 00:06] StormToft commented on #146
@gabrielcsapo

I'm using release 2.2.1 and I'm having issues with scoped packages. This is my first time using local-npm. Here's example npm install output:

[code]

Notice the scoped packages all failing. Any other info you need that would be helpful?

[2017-09-23 00:58] gabrielcsapo commented on #146
interesting how it looks like something is stalling when downloading from the source since the time is the maximum threshold `local-npm` has to download the package `~70000ms`. Would you be able to post this as another issue @StormToft so I can update the status and add tests accordingly.

[2017-09-25 16:50] StormToft opened #161 "Can't install @scoped packages"
## Detailed Description

Installing a non-scoped npm package works fine. Trying to install a [scoped package](https://docs.npmjs.com/misc/scope) fails after 3 retries:

## install `@types/lodash` (scoped, fails)
### client logs
[code]
### npm-local log output
[code]

## install `lodash` (non-scoped, success)
### client logs
[code]
### npm-local log output
[code]

## Your Environment

* Version use

[2017-09-26 17:34] StormToft commented on #161
OK, I was using https://skimdb.npmjs.com/registry instead of https://replicate.npmjs.com for the `--remote-skim` arg. That is what caused it not to work. I guess I misinterpreted what I read here: [https://docs.npmjs.com/misc/registry](https://docs.npmjs.com/misc/registry)

In short: using the default value of https://replicate.npmjs.com works!

[2017-09-26 17:34] #161 closed

[2017-09-27 00:49] gabrielcsapo commented on #161
@StormToft thank you for looking into this! 😊

[2017-10-13 08:02] gabrielcsapo commented on #158
Looks like this got merged, going to update this tomorrow

[2017-10-16 04:45] gabrielcsapo commented on #158
fixed in https://github.com/local-npm/local-npm/releases/tag/2.2.2 sorry for the late change!

[2017-10-16 04:45] #158 closed

[2017-10-25 19:24] givo commented on #129
We have the same problem.

We are restricted to use a private network in our company so we use `local-npm` as an offline npm registry like so:

* installed `v2.2.1 ` on a machine connected to the internet (windows)
* run `local-npm --url http://${machine_ip}:5080`
* installed desired packages on a different machine on the same home network
* imported `local-npm` directory to a server on the busine

[2017-11-08 14:56] korrident opened #165 "recent versions are missing"
Hello.

my mirror is running but users are not getting lastest versions.

For exemple on "bytes"
Last version is 3.0.0 (on https://www.npmjs.com/package/bytes, https://github.com/visionmedia/bytes.js)
But local-npm is only serving 2.5.0

![image](https://user-images.githubusercontent.com/12472899/32554970-c5b70804-c49b-11e7-8e73-30a7c6e3b8b8.png)

I suppose that if package.json requests a latter v

[2017-11-29 18:24] reggi opened #166 "Feature: Detect registry"
Im interested in caching cross registries, so that when the registry is set (using an abstracted `npm` variable `use-registry`) the `local-npm` would check the currently set `use-registry` to lookup all modules, until it changes. In the case below I install `lodash` three times, each one on these given registries could be different and it caches each version.

[code]

I would expect a cache to loo

[2017-11-29 18:50] reggi commented on #166
I can have two `local-npm` registries running. And switch between them.

[2017-11-29 18:50] #166 closed

[2017-12-15 03:21] zxdong262 commented on #64
got the same error, is there workaround to fix it?this will break my ci process.

[2017-12-15 03:26] zxdong262 commented on #64
[code]

[2018-01-15 09:16] webline commented on #90
Some problem here on a Mac:

Error: Could not locate the bindings file. Tried:
 → /usr/local/lib/node_modules/local-npm/node_modules/pouchdb/node_modules/leveldown/build/leveldown.node
 → /usr/local/lib/node_modules/local-npm/node_modules/pouchdb/node_modules/leveldown/build/Debug/leveldown.node
 → /usr/local/lib/node_modules/local-npm/node_modules/pouchdb/node_modules/leveldown/build/Release/leve

[2018-01-16 10:21] Morton opened #167 "Cannot install @rosskevin/react-docgen@^3.0.0-beta9"
I tried to install the dependency `@rosskevin/react-docgen@^3.0.0-beta9` today but it failed with HTTP 500. NPM succeeds installing the dependency without local-npm.

## Detailed Description
I am running local-npm 2.2.2 with `registry=http://127.0.0.1:5080` set in `~/.npmrc` . While running
[code]
I get a HTTP 500 error. Once I commented the registry-line in ~/.npmrc and run same npm-command the i

[2018-01-25 17:42] wilsonzach commented on #36
setting the HTTP_PROXY and HTTPS_PROXY environment variables appropriately will allow the application to go through a proxy.

[2018-02-02 05:12] Charl-Marais commented on #36
I have the same issue on windows server. Both environment variables set HTTP_PROXY and HTTPS_PROXY. .npmrc is also configured correctly and work when running npm

[2018-02-13 14:01] daniell0gda opened #168 "Hide internet"
Hi,
Is is possible to close internet connection in that way that If client of local-npm will try to get some package and it is not available - it won't be downloaded from npm?

Thanks in advance!
Daniel

[2018-03-10 06:11] MichaelJCole opened #169 "Project dead? Recently lots of issues with no compatible version found"
## Detailed Description
Hey, this is a cool project, but it looks dead.  Recently I'm having a bunch of issues like this one:
[code]
outputs:
[code]
## Context
`local-npm` isn't caching correctly, and it's bumming me out :-)

## Workaround
[code]

[2018-03-10 06:17] gabrielcsapo commented on #169
I haven't been able to spend much time on maintenance as I don't use local-npm as a main service anymore.

My thoughts on the current state.
  - heavy (lots of overhead with pouchdb)
  - not really an npm server replacement (which stinks) because it would be great to have a 1:1 API with the official NPM one, but there is no standard API and it seems private (it has a "public" API "documented" http

[2018-03-10 06:18] gabrielcsapo commented on #168
Yes, this is the main purpose of the project. To copy the registry and be able to work without it being up. Are you seeing issues surrounding that?

[2018-03-10 06:20] gabrielcsapo commented on #167
Seems like the package is not being parsed correctly, `/@rosskevin%2freact-docgen` should be `/@rosskevin/freact-docgen@^3.0.0-beta9`

[2018-03-10 07:14] MichaelJCole commented on #169
Yeah, that's cool about npm 5.

Local-npm was awesome for me when I was travelling and didn't want to
redownload over mobile.  Saved me tons of trouble.

Yeah, maybe it's time has passed w/ npm 5.  There are still a ton of npm <
5 projects out there.  Is there a way to detect npm 5 requests and do a
passthrough?

Otherwise maybe a note in the readme?  I'm not travelling like I used to,
so can turn

[2018-03-13 21:22] gabrielcsapo commented on #169
Yeah it is an interesting sort of intersection between something that was so integral that has now been integrated into the package manager.

I think it has a place in the world especially when it comes to building communities that have a copy of the registry. My thought upon taking on the project was simply to provide a mechanism that lets a user set up a cluster of these in their work, in their

[2018-04-01 10:15] Digiraf opened #170 "-node"
## Detailed Description

## Context

## Possible Implementation

## Your Environment

* Version used:
* Environment name and version (e.g. PHP 5.4 on nginx 1.9.1):
* Server type and version:
* Operating System and version:
* Link to your project:

[2018-04-21 03:58] bluesockets commented on #169
👍

[2018-04-25 16:17] stonkeep commented on #144
I did the following :

npm config set proxy null npm config set https-proxy null
npm config set registry http://registry.npmjs.org/

[2018-04-26 01:27] gabrielcsapo commented on #169
npm@3 introduced the ability to install while offline. I have talked about this for awhile having a local copy of npm would be super awesome for communities that don't have access to high speed internet or want to have redundancies with @zkat @seldo. I would love to revamp local-npm to be more efficient and maybe even be something baked into npm.

[code]

[2018-04-26 01:28] zkat commented on #169
P2P stuff is a thing I've thought about, but it probably wouldn't be implemented the way you're suggesting because reasons.

[2018-04-26 01:48] gabrielcsapo commented on #169
I saw some interesting chatter about web torrents stuffz in npm. @zkat

[2018-04-26 05:31] zkat commented on #169
yeah well don't hold your breath, but there's a way of implementing this I've got in my back pocket to eventually implement as part of a much much bigger-deal change.

[2018-04-27 02:29] gabrielcsapo commented on #169
@bluesockets @MichaelJCole do you have an idea of what direction this project should go in?

[2018-05-14 04:55] ORESoftware opened #171 "looking to tarball local packages for development"
I am looking for some advice to this question:
https://stackoverflow.com/questions/50323118/intercept-outgoing-http-requests-to-npmjs-org-etc

I believe that I am looking for a locally running server that can tarball local npm packages on my filesystem, while these packages are being development, so that when I test local package A inside a locally running Docker container, it can pick up package

[2018-05-15 02:46] ORESoftware opened #172 "support question - how to do this right"
Hey all, just asking for a favor here. I might use `local-npm` but right now trying to use a much smaller subset of the functionality. I don't want to replicate NPM locally, I just want to serve a few local tarballs from local NPM projects.

I have this question on SO:
https://stackoverflow.com/questions/50341587/create-proxy-server-to-npm-registry

if you know the answer please help me out.
I als

[2018-06-12 08:05] gabrielcsapo commented on #171
I think this functionality is necessary, you can theoretically `npm pack` and publish those to local-npm, have you tried that approach? This section might help with what you are looking for https://github.com/local-npm/local-npm#how-it-works. In the pouch-db instance you could write to it and pretend as if it was replicated from the skimdb, I think your use case is a reason to start looking at wha

[2018-08-19 09:02] xtrinch commented on #144
None of the suggestions are working and I can't get npm to stop pointing to localhost;80

[2018-08-23 19:44] CarstenLeue opened #174 "Can this be used with Verdaccio as the backend registry?"
We use Verdaccio as an internal registry. Can local-npm be used with it as a backend?

[2018-08-27 11:58] leewaysu commented on #36
I have the same issue on Linux(CentOS 7) server. Even environment variables (HTTP_PROXY and HTTPS_PROXY) and ~/.npmrc won't work.

[2018-10-12 13:57] pablogrs opened #175 "auth issue with old Nexus instances"
## Detailed Description
When using a local repository, Nexus in this case, and the only authentication method is a basic base64 token,  local-npm fails to "log in" using the `_auth ` entry from the config

Example:
`
npm config set always-auth=true
npm config set _auth="base64-username=="
npm config set @babel:registry https://registry.npmjs.org/

local-npm --directory /home/user/.npm --remote htt

[2018-10-13 20:56] miroamarillo commented on #169
works with node v.8.12.0

[2018-11-06 10:43] darioajr commented on #144
This error occours to me without docker.

[2019-02-08 14:02] mattmeye commented on #36
+1

[2019-02-09 13:12] cakriwut opened #178 "Can not install local-npm in Node 10.15.1 / npm 6.6.0"
Can not install local-npm in Node 10.15.1 / npm 6.6.0

## Detailed Description
When I run installation command
[code]
the installation stop at leveldown@1.7.2 install error.
![image](https://user-images.githubusercontent.com/307755/52521252-331dca00-2caf-11e9-960d-9b2ac597ad77.png)

## Context
I am using following environment:
- OS : Windows Server 10
- Node : 10.15.1
- NPM : 6.6.0

I can build th

[2019-03-08 18:14] rootlinux2 commented on #178
I've the same ISSUE in node v11.10.1 and npm 6.9.0

[2019-03-14 06:36] leewaysu commented on #36
Maybe consider switching to "verdaccio"

[2019-03-22 15:47] zsubzwary commented on #178
I think this is no longer maintained !
# 😭😭

[2019-04-20 08:18] klzsysy commented on #178
[code]
[code]

[2019-04-21 04:44] gabrielcsapo commented on #174
It should be able to if it uses the same API as the existing registry! :)

[2019-04-21 04:47] gabrielcsapo commented on #178
Looks like https://github.com/local-npm/local-npm/pull/179 will solve this, I can wait a day or so if the PR doesn't get updated I can submit a PR and get that passing tests.

[2019-04-21 04:48] gabrielcsapo commented on #175
So when you do an `npm install` every request that the npm client makes should have the headers necessary for authentication. Have you tried doing a `npm login` then doing the the install?

[2019-04-21 04:49] gabrielcsapo commented on #169
2019 and people are still using local-npm. It makes sense that we keep supporting new versions of node and hopefully I can onboard some more people to help out with modernizing and moving this project forward. Going to close this out and anyone interested in being onboarded as an owner send a DM.

[2019-04-21 04:49] #169 closed

[2019-04-27 02:58] gabrielcsapo commented on #170
@Digiraf would you be able to add more context?

[2019-04-27 02:59] #134 closed

[2019-04-27 03:00] gabrielcsapo commented on #116
scoped packages should work, let me know if you are still having issues.

[2019-04-27 03:00] #116 closed

[2019-04-27 03:01] #64 closed

[2019-04-27 03:02] #168 closed

[2019-04-27 03:03] gabrielcsapo commented on #172
This should be be a part of 3.0.0

[2019-04-27 03:05] gabrielcsapo commented on #178
Working on getting a clean build going to publish something under the 3.0.0-beta1 in the next couple days if anyone is interested in testing it out.

[2019-04-27 03:06] gabrielcsapo commented on #165
Looks like this is a bug, it should be fetching the version you are asking for. If you specify 3.0.0 in the npm install it should go and fetch the new version even if it has a cached version.

[2019-05-03 07:44] youone commented on #178
I would be happy to test it.

[2019-05-03 14:41] DanielRuf opened #180 "Failing CI"
CI is currently failing.
https://travis-ci.org/local-npm/local-npm

## Detailed Description

CI is failing due to API changes.

[2019-05-03 14:43] DanielRuf opened #181 "New release needed"
The last release was about two years ago.
https://github.com/local-npm/local-npm/compare/2.2.2...master

## Detailed Description

We could need a new release with the fixes and green tests.

[2019-05-09 00:58] gabrielcsapo commented on #181
I am working on this, trying to prioritize my day job 😄

[2019-05-09 00:59] gabrielcsapo commented on #181
please look at the project https://github.com/local-npm/local-npm/projects/1 to see what is currently being worked on.

[2019-05-09 00:59] gabrielcsapo commented on #180
working on it https://github.com/local-npm/local-npm/projects/1

[2019-05-13 04:05] pkulijing opened #182 "build error with node v11"
## Detailed Description

Trying to install with `yarn global add local-npm`, but got the following build error:

	In file included from ../../nan/nan.h:192:0,
	                 from ../src/batch.cc:3:
	../../nan/nan_maybe_43_inl.h: In function ‘Nan::Maybe<bool> Nan::ForceSet(v8::Local<v8::Object>, v8::Local<v8::Value>, v8::Local<v8::Value>, v8::PropertyAttribute)’:
	../../nan/nan_maybe_43_inl.h:11

[2019-05-13 06:59] pkulijing commented on #182
Tested using node[ dockers of different versions](https://hub.docker.com/_/node). The installation works on node:8, but fails for node:10 and node:11.

[2019-05-15 05:14] gabrielcsapo commented on #181
Just an update, I have a passing build running locally, going to push it to a beta branch tomorrow if you are interested in testing @DanielRuf ?

[2019-05-15 05:53] DanielRuf commented on #181
Hi @gabrielcsapo,

I can try to invest some time to do some tests.

[2019-05-15 05:54] DanielRuf commented on #181
Hi @gabrielcsapo,

thanks.

I can try to invest some time to do some tests.

[2019-07-01 14:27] manuelbieh commented on #181
Any news on that? I'm getting an error `prebuild-install WARN install No prebuilt binaries found (target=12.4.0 runtime=node arch=x64 platform=win32)` when I try to install it on my Windows machine.

[2019-07-01 17:30] Cologler opened #183 "error when parsing json"
![image](https://user-images.githubusercontent.com/10906962/60455269-8990a280-9c68-11e9-80bf-e996e88777fe.png)

throw error when parsing json.

https://github.com/local-npm/local-npm/blob/7fd4ea45552634c59408987ac81d4108b1c376d6/lib/index.js#L140-L145

I believe line 144 should be `return reject(error);`

[2019-07-01 17:30] DanielRuf commented on #181
Hi @manuelbieh,

Which exact error do you get? At least this is just a warning.

[2019-07-02 16:31] Cologler opened #184 "error when get a not exists package"
![image](https://user-images.githubusercontent.com/10906962/60529453-32063b80-9d29-11e9-87a0-44842c5dea1b.png)

https://github.com/local-npm/local-npm/blob/d55244d5d1cc493d99fa5a5280e358d94a66d27e/lib/index.js#L312-L347

line 312 get doc by `fullName` but line 347 get doc by `pkgName`, but it does not exist.

[2019-07-02 16:46] Cologler commented on #184
I can make some PR (for #160, #183 and this) if this project allows async/await (require nodejs 8+).

[2019-07-02 20:41] Cologler opened #185 "replace `tarballs` to` _tarballs` from url to avoid conflict"
From https://github.com/npm/validate-npm-package-name:

Try to replace `tarballs` to` _tarballs` from URL to avoiding conflict.

[2019-07-06 21:01] gabrielcsapo commented on #181
I have this weekend free will get a release out by Sunday night at the latest. Sorry everyone.

[2019-07-08 06:27] gabrielcsapo commented on #181
Working on this now, if I can't get a beta out tonight I am on call tomorrow and I will have some downtime during the day. It doesn't help I don't own a laptop anymore other than my work one :( _scouring eBay for a good deal_

[2019-07-08 06:53] DanielRuf commented on #181
No problem, thanks for taking the time =)

[2019-10-15 15:54] datocrats-org opened #186 "FR: Delay local cache update n seconds for critical|high|moderate|low & major|minor|patch"
## Detailed Description
For the criticality of any security vulnerabilities from `npm audit` set update listener settings to *t* seconds

## Context
* To mitigate errors during intial commit of new minor versions or patches, delay any updates to the local-npm server until *t* seconds after the commit.
* Ignore major versions, go ahead and cache those right away
* Allow for different rules for any

[2019-11-25 12:21] lordadamson commented on #182
same issue here with node 12. Will try node 8. Thanks for reporting.

[2019-11-25 12:32] lordadamson commented on #182
node 8 works. Thanks a lot.

[2019-12-02 20:39] daren-k commented on #165
We are having the same problem!! the local-npm stop fetching from the remote registry just show the last version it fetch. Ex:  browserslist 4.7.3 when the newest version is **4.8.0**

[2020-04-10 13:10] ryanmjacobs commented on #182
Yeah, I just pulled my hair out for half an hour... Docker's `node:8` worked for me.

Should this be mentioned in the main readme? Took me a little while to find this information.

[2020-05-28 02:21] LiveFreeAndRoam opened #188 "Compile Error with recent LTS versions"
Compilation fails in different ways, depending on what version of node/npm are used.

Is this project still supported?

Is there an official support matrix for node/npm, local-npm?

NOTE: I am installing locally (ie. without the `-g` flag), since I do not have root privs on this Linux machine.

Between each test, I ran:

[code]

I tried rebuilding with various LTS releases of npm and node:
1. node

[2020-07-16 20:52] Moanrisy commented on #182
I'm installing with 8.17.0 work too

[2020-07-19 10:33] mohdali opened #189 "Database is not updated"
## Detailed Description

I have setup a local-npm repository and waited for the sync to reach 100%. However, when I search for the packages I cannot find up to date information and many packages are showing 3 years old information.
## Context

## Possible Implementation

## Your Environment

* Version used: 2.2.2
* Environment name and version (e.g. PHP 5.4 on nginx 1.9.1):
* Server type and versi

[2020-08-13 17:04] thiagosanches commented on #188
Got the same issue here!

[2020-08-13 20:22] thiagosanches commented on #188
Hey @LiveFreeAndRoam, you can try to use the docker version, it worked pretty well!
https://hub.docker.com/r/orlandohohmeier/local-npm/

[2020-09-12 21:54] #180 closed, assigned to gabrielcsapo

[2020-09-12 21:59] #181 closed, assigned to gabrielcsapo

[2020-12-10 02:58] huntharo opened #190 "Maintainers - Need a hand?"
## Detailed Description

I've got a few instances of `local-npm` build and running within the last few days and I've found some things that I can contribute if there is interest:

- Express Server Timeouts - Express's HTTP timeouts are incorrect by default, for example, the keep alive timeout that an incoming socket can remain idle for before being closed outside of the HTTP protocol (TCP close) i

[2021-10-26 17:03] iainmerrick commented on #190
It certainly looks like this project is unmaintained! I've just been trying it out myself, and found it wouldn't install out of the box on macOS because its `level` dependency is too old—it doesn't pick up a prebuilt binary and compile from source fails.

@huntharo, if you or somebody else has the time and inclination to fork this project and properly maintain it, I'd be interested in helping out.

[2021-10-26 18:35] gabrielcsapo commented on #190
I can give ownership if anyone wants maintainer access?

On Tue, Oct 26, 2021 at 10:03 AM Iain Merrick ***@***.***>
wrote:

[2021-10-27 13:20] lirantal commented on #190
@gabrielcsapo and maintainers team,
I truly value your openness and kindness to invite and include others onto the project, however, I feel I should be that person that shouts `oh no, remember the event-stream incident!` to make sure we do not repeat [that malicious npm package story](https://snyk.io/blog/a-post-mortem-of-the-malicious-event-stream-backdoor).

Aside from inviting others to collabo

[2022-03-12 15:40] #189 closed, assigned to nobody

[2022-07-07 12:26] rulatir commented on #144
This occurs to me in nave.